<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common::html-head">
  <title>관심 상품 조회</title>
</head>
<style>
    body {
		background: url('/image/bg.png') no-repeat;
  	}
    img {
	    width: 450px;
	    height: 300px;
    }
    .btn {
    	margin-bottom: 10px;
    }
</style>
<script th:inline="javascript">  	
  
  	// 상품 한 개 삭제
  	function deleteOne() {
  		const result = confirm("해당 상품을 관심상품에서 삭제하시겠습니까?");  		
  		if(result==true) {
  			const $form = $('<form>').attr('method','post').attr('action','/mypage/member/bookmarkList/deleteOne').appendTo($('body'));
  			$('<input>').attr('type','hidden').attr('name','pno').val($(this).attr('data-pno')).appendTo($form);
  			$form.submit();
  		}  		
  	}
  	
  	// 상품 전체 삭제
  	function deleteAll() {
  		const result = confirm("관심상품을 전체 삭제하시겠습니까?");
  		if(result==true) {
  			const $form = $('<form>').attr('method','post').attr('action','/mypage/member/bookmarkList/deleteAll').appendTo($('body'));
  			$form.submit();
  		}
  	}
  	
  	// 상품 선택 삭제
  	function deleteSelected() {
  		const result = confirm("선택한 상품을 삭제하시겠습니까?");
  		if(result==true) {
  			const $form = $('<form>').attr('method','post').attr('action','/mypage/member/bookmarkList/deleteSelected').appendTo($('body'));
  			$('.pno').each(function(idx, checkbox) {
  				if($(this).prop('checked')==true) {
  					$('<input>').attr('type','hidden').attr('name','pnos').val($(this).attr('data-pno')).appendTo($form);
  				}
  			});
  			if($form.serialize()!="")
  				$form.submit();
  		}
  	}
  
  	// 상품 한 개 장바구니 담기
  	function shoppingOne() {
  		const $form = $('<form>').attr('method','post').attr('action','/mypage/member/bookmarkList/shoppingOne').appendTo($('body'));
  		$('<input>').attr('type','hidden').attr('name','pno').val($(this).attr('data-pno')).appendTo($form);
  		$form.submit();
  	} 
  	
  	// 선택상품 장바구니에 담기
  	function shoppingSelected() {
  		const $form = $("<form>").attr("method","post").attr("action","/mypage/member/bookmarkList/shoppingMultiple").appendTo($('body'));
  		$(".pno").each(function(idx, checkbox) {
  			if($(this).prop('checked')==true) {
  				$("<input>").attr("type","hidden").attr("name","pnos").val($(this).attr('data-pno')).appendTo($form);  				
  			}
  		});
  		if($form.serialize()!="")
  			$form.submit();
  	}
  	
  	$(document).ready(function() {  		
  		$('.deleteOne').click(deleteOne);
  		$('#deleteAll').click(deleteAll);
  		$('#deleteSelected').click(deleteSelected);
  		$('.shoppingOne').click(shoppingOne);
  		$("#shoppingSelected").click(shoppingSelected);
  	})
</script>
<body>
	<header th:replace="fragments/common::header"></header>
  <h1>관심 상품 조회</h1>
  <div class="container">
    <button type="button" class="btn btn-primary" id="deleteSelected">선택삭제</button>
    <button type="button" class="btn btn-primary" id="deleteAll">전체삭제</button>       
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>번호</th>
          <th>이미지</th>
          <th>상품명</th>
          <th>금액</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr th:each="list: ${bookmarkList}">
      		<td>
      			<div class="form-check">
      				<input type="checkbox" class="form-check-input pno" value="" th:data-pno="${list.pno}">
      				<span th:text="${list.pno}"></span>
      			</div>
      		</td>
            <td>
            	<img alt="상품 이미지" th:src="${list.pthumbnail}" style="width:250px">
            </td>
            <td th:text="${list.pname}"></td>
            <td th:text="${list.price}"></td>
            <td>
              <button type="button" class="btn btn-primary shoppingOne" th:data-pno="${list.pno}">장바구니 담기</button>
              <button type="button" class="btn btn-primary deleteOne" th:data-pno="${list.pno}">삭제</button>
            </td>
          </tr>
      </tbody>
    </table>
    <button type="button" id="shoppingSelected" class="btn btn-primary">선택상품 장바구니 담기</button>
  </div>
  <footer th:replace="fragments/common::footer"></footer>
</body>
</html>