<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="icon" href="/image/favicon.png">
  <script src="/js/check.js"></script>
  <style>
    h1 {
      text-align: center;
      margin-top: 50px;
    }
    .form-control {
      width: 400px;
    }
    .form-control {
      display: inline;
    }
    .form-label {
      width: 120px;
      text-align: left;
    }
    .outbtn {
      background-color: gray;
      color: aliceblue;
      border-color: gray;
    }
    .wrapper {
      position:absolute;
      left: 30%;
    }
    .btn {
      float: right;
      margin-right: 20px;
    }
  </style>
  <script type="text/javascript">
  	$(function() {
  		$('.outbtn').click(function() {
  			if(confirm("탈퇴하시겠습니까?")==true) {
  				if(confirm("정말 탈퇴하시겠습니까?")==true) {
  					if(confirm("정말정말 탈퇴하시겠습니까?")==true) {
  							const $form = $("<form>").attr("action","/mypage/member/delete").attr("method", "post").appendTo($('body'));
  					  		$form.submit();
  					}
  				}
  			}
  		})
  	});
  </script>
  <title>회원 정보 수정</title>
</head>
<body>
    <h1>회원 정보 수정</h1>
    <div class="wrapper">
  <form action="/mypage/member/info" method="post" class="was-validated" id="update_form">
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">이름</label>
      <input type="text" class="form-control" id="name" placeholder="이름" name="name" th:value="${member.name}" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="id" class="form-label">아이디</label>
      <input type="text" class="form-control" id="id" placeholder="아이디" name="id" th:value="${member.id}" required>
    </div>
    <div class="mb-3">
      <label for="pw" class="form-label">비밀번호</label>
      <input type="password" class="form-control" id="pw" placeholder="비밀번호" name="pw" required>
    </div>
    <div class="mb-3">
      <label for="pw2" class="form-label">비밀번호 확인</label>
      <input type="password" class="form-control" id="pw2" placeholder="비밀번호 확인" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input type="email" class="form-control" id="email" placeholder="이메일" name="email" th:value="${member.email}" required>
    </div>
    <button type="button" class="btn btn-primary outbtn">탈퇴하기</button>
    <button type="button" class="btn btn-primary" id="update">수정하기</button>
  </form>
</div>
<script th:inline="javascript">
    const msg = /*[[${msg}]]*/;
    if(msg != null) {
    	alert(msg);
    }
  	$('#update').click(function() {
		if((pwCheck() && pw2Check())==false) {
			alert('변경할 내용이 없습니다');
			return false;
		} else {
			$('#update_form').submit();
		}
	});
  </script>
</body>
</html>