<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/common.css">  
  <link rel="icon" href="/image/favicon.png">
  <style>
    h1 {
      text-align: center;
    }
    .form-control {
      width: 400px;
    }
    .form-control {
      display: inline;
      margin-bottom: 20px;
    }
    .form-label {
      width: 120px;
      text-align: left;
    }
    .wrapper {
      position:absolute;
      left: 30%;
    }
    .form-check {
      display: inline-block;
    }
    .btn {
      margin-bottom: 15px;
    }
  </style>
  <script>  
   $(document).ready(function() {
        $('#add').click(function() {
           const params = {
              aname : $('#addressname').val(),
              azipcode : $('#zipcode').val(),
              aaddress1 : $('#roadAddress').val(),
              aaddress2 : $('#detailAddress').val(),
              atel : $('#totel').val(),
              atoname : $('#toperson').val(),
              astandard : 0,
           }
           $.ajax({
              url: "/mypage/member/addAddressRest",
              method: "post",
              data: params
           }).done(() => {
               window.close();
           }).fail((response) => alert("주소를 추가하지 못했습니다. \n Code : " + response.status + " - " + response.responseText));
        })
     })
  </script>
  <title>배송주소록 추가</title>
</head>
<body>
  <h1>배송주소록 추가</h1>
  <div class="wrapper">
  <div class="mb-3 mt-3">
    <label for="addressname" class="form-label">배송지명</label>
    <input type="text" class="form-control" id="addressname" placeholder="배송지명" name="addressname" required>
  </div>
  <div class="mb-3 mt-3">
    <label for="toperson" class="form-label">받는사람</label>
    <input type="text" class="form-control" id="toperson" placeholder="받는사람 이름" name="toperson" required>
  </div>
  <div class="mb-3 mt-3">
    <label for="totel" class="form-label">휴대전화</label>
    <input type="tel" class="form-control" id="totel" placeholder="휴대전화" name="totel" required>
  </div>
  <div class="mb-3 mt-3">
    <label for="address" class="form-label">주소</label><br>
    <input type="button" class="btn btn-secondary" onclick="execDaumPostcode()" value="우편번호 검색"><br>
    <input type="text" class="form-control" id="zipcode" placeholder="우편번호" name="address" required>
  </div>
  <input type="text" class="form-control" id="roadAddress" placeholder="도로명주소" name="address" required><br>
  <input type="text" class="form-control" id="detailAddress" placeholder="상세주소" name="address" required><br>
  <button type="button" class="btn btn-primary" id="add">배송지 추가</button><br><br>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		function execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					let roadAddr = data.roadAddress; // 도로명 주소 변수
					let extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('zipcode').value = data.zonecode;
					document.getElementById("roadAddress").value = roadAddr;
				}
			}).open();
		}
	</script>
</body>
</html>