<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common::html-head">
  <title>문의글 상세</title>
</head>
  <style>  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  </style>
  <script th:inline="javascript">
    const question = /*[[${memberQnaDetail[0]}]]*/
	console.log(question);
    
   	/* 삭제 버튼 처리 함수 */
  	function deleteBtn() {
  		const $form = $('<form>').attr('method', 'post').attr('action', '/mypage/member/qnaDelete').appendTo($('body'));
  		$('<input>').attr('type', 'hidden').attr('name', 'qqno').val(question.qqno).appendTo($form);
  		$form.submit();
  	}
   	
   	/* 썸네일 처리 함수 */
    function previewImage() {
		const file = $("#qqimg")[0].files[0];
		const maxSize = 1024*1024;
		if (file.size > maxSize) {
			Swal.fire('이미지 크기 오류!', '상품 이미지는 1MB를 넘을 수 없습니다.', 'error');
			$('#qqimg').val('');
			$('#thumbnail_img').removeAttr('src');
			return false;
		}
		const reader = new FileReader();
		reader.readAsDataURL(file);
		reader.onload = function() {
			$("#thumbnail_img").attr("src", reader.result);
		}
		return true;
	}

  	$(document).ready(function() {
  		/* 삭제 버튼 처리 */
		$('#delete').click(function() {
			const result = confirm("문의를 삭제하시겠습니까?")
			if (result == true) {
				deleteBtn();
			}
		});
  		
  		/* 썸네일 처리 */
		$('#qqimg').change(function() {
			$('#thumbnail_img').css({
				'display': 'block'
			});
			previewImage();
		});
  	});
  </script>
<body>
	<header th:replace="fragments/common::header"></header>
  <h1>문의글 상세</h1>
  <div class="container">
    <!-- 
    <form th:action="@{/mypage/member/qnaUpdate?qqno={qqno}(qqno=${memberQnaDetail[0].qqno})}" method="post">
     -->
    <form th:action="@{/mypage/member/qnaUpdate}" method="post" enctype="multipart/form-data">
      <input type='hidden' id='memberId' name='memberId' th:value='${memberQnaDetail[0].memberId}'>
      <input type='hidden' id='memberId' name='qqno' th:value='${memberQnaDetail[0].qqno}'>
      <label for="qqtitle">제목</label>
      <input type="text" id="qqtitle" name="qqtitle" placeholder="제목을 입력해주세요." th:value="${memberQnaDetail[0].qqtitle}">
      
      <label for="qqimg">이미지</label>
      	<input type="file" class="form-control" id="qqimg" name="qqimg" accept=".jpg,.jpeg,.png,.gif">
      	<div th:if="${not #strings.isEmpty(memberQnaDetail[0].qqimg)}">
      		<img id="thumbnail_img" height="200px" th:src="${memberQnaDetail[0].qqimg}">
      	</div>
   	  <br>
      
      <label for="qqcontent">내용</label>
      <img id="thumbnail_img" height="200px" style="display:none;">
      <textarea id="qqcontent" name="qqcontent" placeholder="내용을 입력해주세요." style="height:200px" th:text="${memberQnaDetail[0].qqcontent}"></textarea>
      
      <label for="qacontent">답변</label>
      <div th:if="${not #strings.isEmpty(memberQnaDetail[1])}">
      	<textarea id="qacontent" name="qacontent" style="height:200px" th:text="${memberQnaDetail[1].qacontent}"></textarea>
	  </div>
	  <div th:unless="${not #strings.isEmpty(memberQnaDetail[1])}">
        <textarea id="qacontent" name="qacontent" style="height:200px"></textarea>
	  </div>

	  <button type="submit" class="btn btn-primary" id="update">수정</button>
	  <button type="button" class="btn btn-primary" id="delete">삭제</button>
	  <button type="button" class="btn btn-primary" onclick="location.href='/mypage/member/qnaList'">목록</button>
    </form>
  </div>
  <footer th:replace="fragments/common::footer"></footer>
</body>
</html>