<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head">

</head>
  <style>
    h1 {
      text-align: center;
      margin-top: 50px;
    }
    .wrapper {
      margin: 30px;      
    }
    .btn {
      margin-bottom: 5px;
    }
  </style>
<script th:inline="javascript">
	const role = /*[[${role}]]*/
</script>
<body>
<header th:replace="fragments/common :: header"></header>
  <h1>문의 목록 조회</h1>
  <div id="wrapper" class="wrapper">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일</th>
        <th>답변여부</th>
      </tr>
    </thead>
    <tbody>
    	<tr th:each = "qna : ${memberQnaList}">
        <td th:text="${qna.qqno}"></td>
        <td><a th:text="${qna.qqtitle}" th:href="@{/mypage/member/qnaDetail(qqno=${qna.qqno})}"></a></td>
	     <td th:text="${qna.qqregday}"></td>
        <td th:text="${qna.isAnswer}"></td>
    	</tr>
    </tbody>
  </table>
  <form id="sendData" method="get">
  	<input type="hidden" name="nowPage" value="${pageMaker.cri.nowPage}">
  	<input type="hidden" name="amount" value="${pageMaker.cri.amount}">
  </form>
</div>
<footer th:replace="fragments/common :: footer">
</footer>
</script>
<script src="/js/index.js"></script>
</html>