<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">
</head>
<body>
<div id="wrapper" class="container" style="text-align: center;">
	<h1 th:text="|${status} Error!|"></h1>
	<h3>페이지를 찾을 수 없습니다.</h3>
	<br>
	<p>페이지가 존재하지 않거나, 사용할 수 없는 페이지입니다.</p>
	<p>주소를 다시 한번 확인해 주세요.</p>
	<br>
    <a href="/" class="btn btn-primary">메인 페이지로 이동</a>
    	<!-- 
		<p th:text="|timestamp: ${timestamp}|"></p>
		<p th:text="|path: ${path}|"></p>
		<p th:text="|status: ${status}|"></p>
		<p th:text="|message: ${message}|"></p>
		<p th:text="|trace: ${trace}|"></p>
		 -->
</div>
</body>
</html>