<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">
</head>
<body>
<header th:replace="fragments/common :: header">
</header>
<div class="container" style="max-width: 600px">
	<h1>적절한 입력이 아닙니다.</h1>
    <a href="/" class="btn btn-primary">메인 페이지로 이동</a>
		<p th:text="|timestamp: ${timestamp}|"></p>
		<p th:text="|path: ${path}|"></p>
		<p th:text="|status: ${status}|"></p>
		<p th:text="|message: ${message}|"></p>
		<p th:text="|trace: ${trace}|"></p>
</div>
<footer th:replace="fragments/common :: footer">
</footer>
</body>
</html>