<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>page not found!</title>
</head>
<body>
<div class="container" style="max-width: 600px">
	<h1>500 Error!</h1>
		<a href="/">메인으로 이동</a>
		<p th:text="|timestamp: ${timestamp}|"></p>
		<p th:text="|path: ${path}|"></p>
		<p th:text="|status: ${status}|"></p>
		<p th:text="|message: ${message}|"></p>
		<p th:text="|trace: ${trace}|"></p>
</div>
</body>
</html>