<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/common::html-head">
  <title>기업 상품 목록</title>
</head>
  <style>
    .wrapper {
      margin: 30px;
    }
    .btn {
    margin-bottom: 5px;
    }
  </style>
    <script>
  	function productUpdate() {
		const $form = $('<form>').attr('method','get').attr('action','/product/corp/productUpdate').appendTo($('body'));
		$('<input>').attr('type','hidden').attr('name','pno').val($('#pno').text()).appendTo($form);
		$form.submit();
	}
  	
  	function productDelete() {
		const $form = $('<form>').attr('method','post').attr('action','/product/corp/productDelete').appendTo($('body'));
		$('<input>').attr('type','hidden').attr('name','pno').val($('#pno').text()).appendTo($form);
		$form.submit();
	}
  	
  	$(function() {
		$('#moveProductUpdate').click(productUpdate);
		$('#moveProductDelete').click(function() {
			const result = confirm("상품을 삭제할까요?")
			
			if(result === true) {
				productDelete();
			}
		});
  	});
  </script>
<body>
<header th:replace="fragments/common::header"></header>
  <h1>기업 상품 목록</h1>
  <div class="wrapper">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>상품번호</th>
        <th>이미지</th>
        <th>상품명</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    	<tr th:each="regProducts : ${regProducts}">
	        <td id="pno" th:text="${regProducts.pno}"></td>
			<td>
				<img th:src="${regProducts.pthumbnail}" style="width: 250px">
			</td>
	        <td>
	        	<a th:href="@{/product/corp/productDetail(pno=${regProducts.pno})}" id="moveProductDetail" th:text="${regProducts.pname}"></a>
	        </td>
	        <td>
		        <button id="moveProductUpdate" class="btn btn-primary">수정</button>
		        <br>
		        <button id="moveProductDelete" class="btn btn-primary">삭제</button>
	        </td>
    	</tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" onclick="location.href='/product/productUpload'">제품 등록</button>
  <button type="button" class="btn btn-primary" onclick="location.href='/mypage/corp/corpMypage'">마이 페이지로</button>
</div>
<footer th:replace="fragments/common::footer"></footer>
</body>
</html>