<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/common.css">
  <title>기업 상품 목록</title>
  <style>
    h1 {
      text-align: center;
      margin-top:50px;
    }
    .wrapper {
      margin: 30px;
    }
  </style>
  <script>
  	function productUpdate() {
		const $form = $('<form>').attr('method','get').attr('action','/product/corp/productUpdate').appendTo($('body'));
		$('<input>').attr('type','hidden').attr('name','pno').val($('#pno').text()).appendTo($form);
		$form.submit();
	}
  	
  	function productDelete() {
		const $form = $('<form>').attr('method','post').attr('action','/product/corp/productDelete').appendTo($('body'));
		$('<input>').attr('type','hidden').attr('name','pno').val($('#pno').text()).appendTo($form);
		$form.submit();
	}
  	
  	$(function() {
		$('#moveProductUpdate').click(productUpdate);
		$('#moveProductDelete').click(function() {
			const result = confirm("상품을 삭제할까요?")
			
			if(result === true) {
				productDelete();
			}
		});
  	});
  </script>
</head>
<body>
  <h1>기업 상품 목록</h1>
  <div class="wrapper">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>상품번호</th>
        <th>이미지</th>
        <th>상품명</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    	<tr th:each="regProducts : ${regProducts}">
	        <td id="pno" th:text="${regProducts.pno}"></td>
			<td>
				<img th:src="${regProducts.pthumbnail}" style="width: 250px">
			</td>
	        <td>
	        	<a th:href="@{/product/corp/productDetail/{pno}(pno=${regProducts.pno})}" id="moveProductDetail" th:text="${regProducts.pname}"></a>
	        </td>
	        <td>
		        <button id="moveProductUpdate" class="btn btn-primary">수정</button>
		        <br>
		        <button id="moveProductDelete" class="btn btn-primary">삭제</button>
	        </td>
    	</tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" onclick="location.href='/product/productUpload'">제품 등록</button>
  <button type="button" class="btn btn-primary" onclick="location.href='/mypage/corp/corpMypage'">마이 페이지로</button>
</div>
</body>
</html>