<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/common.css">
  <link rel="icon" href="/image/favicon.png">
  <script th:inline="javascript">
  	const data = /*[[${corpQnaDetail[0]}]]*/
  	console.log(data);
  </script>
  <style>
  * {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
  <title>문의 상세</title>
</head>
<body>
  <h1>문의 상세</h1>
  <div class="container">
    <form th:action="@{/mypage/corp/answerUpload}" method="post">
	  <input type="hidden" id="qqno" name="qqno" th:value="${corpQnaDetail[0].qqno}">
	  <input type="hidden" id="pno" name="pno" th:value="${corpQnaDetail[0].pno}">
      <label for="memberId">아이디</label>
      <input type="text" id="memberId" name="memberId" th:value="${corpQnaDetail[0].memberId}">
    
      <label for="qqcategory">말머리</label>
      <select id="qqcategory" name="qqcategory">
        <option value="selectoption">변경불가</option>
      </select>

      <label for="qqtitle">제목</label>
      <input type="text" id="qqtitle" name="qqtitle" th:value="${corpQnaDetail[0].qqtitle}">
  
  	  <label for="qqimg">이미지</label>
      <div th:if="${not #strings.isEmpty(corpQnaDetail[0].qqimg)}">
      	<img id="qqimg" height="200px" th:src="${corpQnaDetail[0].qqimg}">
      </div><br>
  
      <label for="qqcontent">내용(사유)</label>
      <textarea id="qqcontent" name="qqcontent" style="height:200px" th:text="${corpQnaDetail[0].qqcontent}"></textarea>
    
	 <label for="qacontent">답변</label>
	 <div th:if="${corpQnaDetail[1]} == null">
	   <textarea id="qacontent" name="qacontent" style="height:200px"></textarea>
	 </div>
	 <div th:unless="${corpQnaDetail[1]} == null">
	    <textarea id="qacontent" name="qacontent" style="height:200px" th:text="${corpQnaDetail[1].qacontent}"></textarea>
	 </div>
	 
	  <button type="submit" class="btn btn-primary" id="upload">등록</button>
	  <button type="button" class="btn btn-primary" onclick="location.href='/mypage/member/qnaList'">목록</button>
	</form>
  </div>
</body>
</html>