<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common::html-head">
  <title>문의 목록</title>
</head>
<style>
    .wrapper {
      margin: 30px;      
    }
    
    .btn {
    margin-bottom: 5px;
    }
</style>
<body>
	<header th:replace="fragments/common::header"></header>
<div id="wrapper">
  <h1>문의 목록</h1>
  <div class="wrapper">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>번호</th>
        <th>말머리</th>
        <th>제목</th>
        <th>아이디</th>
        <th>작성일</th>
        <th>답변여부</th>
      </tr>
    </thead>
    <tbody>
    	<tr th:each="qna : ${corpQnaList}">
	        <td th:text="${qna.qqno}"></td>
	        <td th:text="${qna.qqcategory}"></td>
		   <td><a th:text="${qna.qqtitle}" th:href="@{/mypage/corp/qnaDetail(qqno=${qna.qqno})}"></a></td>
	        <td th:text="${qna.memberId}"></td>
	        <td th:text="${qna.qqregday}"></td>
	        <td th:text="${qna.isAnswer}"></td>
    	</tr>
    </tbody>
  </table>
    <form id="sendData" method="get">
  	<input type="hidden" name="nowPage" value="${pageMaker.cri.nowPage}">
  	<input type="hidden" name="amount" value="${pageMaker.cri.amount}">
  </form>
</div>
</div>
<footer th:replace="fragments/common::footer"></footer>
<script src="/js/index.js"></script>
</body>
</html>