<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common::html-head">
  <title>문의 목록</title>
</head>
<script th:inline="javascript">
	var pagemaker = /*[[${pageMaker}]]*/

	/* 페이징 */
  	function pagination() {
		const $pagination = $('#pagination');
		const $ul = $('<ul class="pagination">').appendTo($pagination);
		if (pagemaker.prev == true) {
			const $li = $('<li>').appendTo($ul);
			$('<a>').attr('href', '/mypage/corp/qnaList?nowPage=' + (pagemaker.start - 1) + '&amount=' + pagemaker.cri.amount).text("이전").appendTo($li);
		}
		for (let i = pagemaker.start; i <= pagemaker.end; i++) {
			const $li = $('<li>').appendTo($ul);
			$('<a>').attr('href', '/mypage/corp/qnaList?nowPage=' + i + '&amount=' + pagemaker.cri.amount).text(i).appendTo($li);
			if (i == pagemaker.nowPage)
				$li.attr('class', 'active');
		}
		if (pagemaker.next == true) {
			const $li = $('<li>').appendTo($ul);
			$('<a>').attr('href', '/mypage/corp/qnaList?nowPage=' + (pagemaker.end + 1) + '&amount=' + pagemaker.cri.amount).text("다음").appendTo($li);
		}
  	}
	
	$(document).ready(function() {
		pagination();
	})
</script>
<style>
    .wrapper {
      margin: 30px;      
    }
    
    .btn {
    margin-bottom: 5px;
    }
</style>
<body>
	<header th:replace="fragments/common::header"></header>
<div id="wrapper">
  <h1>문의 목록</h1>
  <div class="wrapper">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>번호</th>
        <th>말머리</th>
        <th>제목</th>
        <th>아이디</th>
        <th>작성일</th>
        <th>답변여부</th>
      </tr>
    </thead>
    <tbody>
    	<tr th:each="qna : ${corpQnaList}">
	        <td th:text="${qna.qqno}"></td>
	        <td th:text="${qna.qqcategory}"></td>
		   <td><a th:text="${qna.qqtitle}" th:href="@{/mypage/corp/qnaDetail(qqno=${qna.qqno})}"></a></td>
	        <td th:text="${qna.memberId}"></td>
	        <td th:text="${qna.qqregday}"></td>
	        <td th:text="${qna.isAnswer}"></td>
    	</tr>
    </tbody>
  </table>
    <form id="sendData" method="get">
  	<input type="hidden" name="nowPage" value="${pageMaker.cri.nowPage}">
  	<input type="hidden" name="amount" value="${pageMaker.cri.amount}">
  </form>
</div>
<div id="pagination" style="display:flex; justify-content:center;">
</div>
</div>
<footer th:replace="fragments/common::footer"></footer>
<script src="/js/index.js"></script>
</body>
</html>