<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
  integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/common.css">
  <link rel="stylesheet" href="/index.css">
  <link rel="icon" href="/image/favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script th:inline="javascript">
  	const page = /*[[${page}]]*/
  	
  	/* 현재 url의 카테고리 코드 추출 */
  	/* Code By Color Scripter™ */
    function getParameterByName(name, url) {
	     if (!url) url = window.location.href;
	     name = name.replace(/[\[\]]/g, "\\$&");
	     var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
	         results = regex.exec(url);
	     return results[2];
    }
  	let catecode = getParameterByName('catecode');
  	
  	/* 상품 목록 */
  	function productList() {
  		const $wrap = $(".card-wrap table");
  		let $tr;
  		$.each(page.products, function(idx, product) {
  			if (idx % 3 == 0)
  				$tr = $('<tr>').appendTo($wrap);
			const $td = $('<td>').appendTo($tr);
  			const $card = $('<div class="card">').appendTo($td);
  			const $a = $('<a>').attr('href', "/product/member/productDetail?pno=" + product.pno).attr('title', product.name).appendTo($card);
  			$('<img>').attr('src', '../image/product.jpg').attr('alt', '상품').attr('style', 'width:80%').appendTo($a);
  			$('<h1>').text(product.cname).appendTo($a);
  			$('<p>').attr('class', 'title').text(product.pname).appendTo($a);
  			$('<p>').attr('class', 'amount').text(product.price + " 원").appendTo($card);
  			const $btnwrapper = $('<div>').attr('class', 'btnwrapper').appendTo($card);
  			$('<button>').attr('class', 'left-btn').text('바로구매').appendTo($btnwrapper);
  			$('<button>').attr('class', 'right-btn').text('장바구니').appendTo($btnwrapper);
  		})
  	}
  	
  	/* 페이징 */
  	function pagination() {
		const $pagination = $('#pagination');
		const $ul = $('<ul class="pagination">').appendTo($pagination);
		if (page.prev > 0) {
			const $li = $('<li>').appendTo($ul);
			$('<a>').attr('href', '/product/productList?pageno=' + page.prev + '&catecode=' + catecode).text("이전").appendTo($li);
		}
		for (let i = page.start; i <= page.end; i++) {
			const $li = $('<li>').appendTo($ul);
			$('<a>').attr('href', '/product/productList?pageno=' + i + '&catecode=' + catecode).text(i).appendTo($li);
			if (i == page.pageno)
				$li.attr('class', 'active');
		}
		if (page.next > page.end) {
			const $li = $('<li>').appendTo($ul);
			$('<a>').attr('href', '/product/productList?pageno=' + page.next + '&catecode=' + catecode).text("다음").appendTo($li);
		}
  	}
  	
	$(document).ready(function() {
		productList();
		pagination();
	})
  </script>
  <style>
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 380px;
  text-align: center;
  font-family: arial;
  display: inline-block;
  margin: 30px;
  }
.title {
  color: #1b1b1baf;
  font-size: 18px;
}
.amount {
 font-size: 20px;
 font-weight: bold;
}
button {
  outline: 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  width: 50%;
}
.btnwrapper {
 clear: both;
}
.left-btn {
  float: left;
}
.right-btn {
  float: right;
}
.card-wrap {
  display: flex;
  justify-content: center;
}
.card-wrap tr td {
  width: 380px;
  height: 250px;
}

a {
  text-decoration: none;
  font-size: 20px;
}

.card h1 {
	font-size: 15px;
  color: crimson;
  padding-top: 10px;
}

#category {
  padding: 27px 0;
}
#category .position ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
li{
  padding-left: 0;
  margin: 20px;
  display: list-item;
  text-align: -webkit-match-parent;
}

.category ul li a:hover {
  color: black;
}
  </style>
  <title>상품 목록</title>
</head>
<body>
  <header>
    <span class="leftnav"><a href="/">ECorea</a></span>
    <span class="leftnav"><a href="/">SHOP</a></span>
    <span class="leftnav"><a href="/">CHALLENGE</a></span>
    <span class="leftnav"><a href="/">ABOUT</a></span>
    <span class="rightnav"><a href="/general/joinSelect">JOIN</a></span> 
    <span class="rightnav"><a href="/general/login">LOGIN</a></span>
  </header>

  <div class="catewrapper">
    <div class="category">
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">반려용품</a></li>
        <li><a href="">생활용품</a></li>
        <li><a href="">제로웨이스트</a></li>
        <li><a href="">원목소품</a></li>
        <li><a href="">인테리어소품</a></li>
        <li><a href="">DIY키트</a></li>
      </ul>
    </div>
  </div>

  <div class="mininav">
    <ul>
      <li><a href="">신상품</a></li>
      <li><a href="">낮은가격순</a></li>
      <li><a href="">높은가격순</a></li>
    </ul>
  </div>

  <section class="card-wrap">
    <table>
      <tr>
        <td>
          <div class="card">
            <a href="#"><img src="./image/product.jpg" alt="상품" style="width:100%"></a>
            <a href="#"><h1>브랜드명</h1></a>
            <a href="#"><p class="title">[업사이클링DIY] 업사이클링 티셔츠 손목 쿠션Kit</p></a>
            <p class="amount">15,000원</p>
            <div class="btnwrapper">
            <p><button class="left-btn">바로구매</button></p>
            <p><button class="right-btn">장바구니</button></p>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <a href="#"><img src="./image/product.jpg" alt="상품" style="width:100%"></a>
            <a href="#"><h1>브랜드명</h1></a>
            <a href="#"><p class="title">[업사이클링DIY] 업사이클링 티셔츠 손목 쿠션Kit</p></a>
            <p class="amount">15,000원</p>
            <div class="btnwrapper">
            <p><button class="left-btn">바로구매</button></p>
            <p><button class="right-btn">장바구니</button></p>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <a href="#"><img src="./image/product.jpg" alt="상품" style="width:100%"></a>
            <a href="#"><h1>브랜드명</h1></a>
            <a href="#"><p class="title">[업사이클링DIY] 업사이클링 티셔츠 손목 쿠션Kit</p></a>
            <p class="amount">15,000원</p>
            <div class="btnwrapper">
            <p><button class="left-btn">바로구매</button></p>
            <p><button class="right-btn">장바구니</button></p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="card">
            <a href="#"><img src="./image/product.jpg" alt="상품" style="width:100%"></a>
            <a href="#"><h1>브랜드명</h1></a>
            <a href="#"><p class="title">[업사이클링DIY] 업사이클링 티셔츠 손목 쿠션Kit</p></a>
            <p class="amount">15,000원</p>
            <div class="btnwrapper">
            <p><button class="left-btn">바로구매</button></p>
            <p><button class="right-btn">장바구니</button></p>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <a href="#"><img src="./image/product.jpg" alt="상품" style="width:100%"></a>
            <a href="#"><h1>브랜드명</h1></a>
            <a href="#"><p class="title">[업사이클링DIY] 업사이클링 티셔츠 손목 쿠션Kit</p></a>
            <p class="amount">15,000원</p>
            <div class="btnwrapper">
            <p><button class="left-btn">바로구매</button></p>
            <p><button class="right-btn">장바구니</button></p>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <a href="#"><img src="./image/product.jpg" alt="상품" style="width:100%"></a>
            <a href="#"><h1>브랜드명</h1></a>
            <a href="#"><p class="title">[업사이클링DIY] 업사이클링 티셔츠 손목 쿠션Kit</p></a>
            <p class="amount">15,000원</p>
            <div class="btnwrapper">
            <p><button class="left-btn">바로구매</button></p>
            <p><button class="right-btn">장바구니</button></p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="card">
            <a href="#"><img src="./image/product.jpg" alt="상품" style="width:100%"></a>
            <a href="#"><h1>브랜드명</h1></a>
            <a href="#"><p class="title">[업사이클링DIY] 업사이클링 티셔츠 손목 쿠션Kit</p></a>
            <p class="amount">15,000원</p>
            <div class="btnwrapper">
            <p><button class="left-btn">바로구매</button></p>
            <p><button class="right-btn">장바구니</button></p>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <a href="#"><img src="./image/product.jpg" alt="상품" style="width:100%"></a>
            <a href="#"><h1>브랜드명</h1></a>
            <a href="#"><p class="title">[업사이클링DIY] 업사이클링 티셔츠 손목 쿠션Kit</p></a>
            <p class="amount">15,000원</p>
            <div class="btnwrapper">
            <p><button class="left-btn">바로구매</button></p>
            <p><button class="right-btn">장바구니</button></p>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <a href="#"><img src="./image/product.jpg" alt="상품" style="width:100%"></a>
            <a href="#"><h1>브랜드명</h1></a>
            <a href="#"><p class="title">[업사이클링DIY] 업사이클링 티셔츠 손목 쿠션Kit</p></a>
            <p class="amount">15,000원</p>
            <div class="btnwrapper">
            <p><button class="left-btn">바로구매</button></p>
            <p><button class="right-btn">장바구니</button></p>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div id="pagination">
    </div>
  </section>

  <input class="goupbtn" type="button" value="↑" onclick="clickme()"></div>

  <footer class="footer">
    <address style="font-size: 12px; display:inline-block;margin-top:10px;margin-left:20px;">
      인천광역시 미추홀구<br>
      이메일 : ecorea@gmail.com<br>
      전화번호 : 032-000-0000
    </address>
  </footer>

  <script src="./ECorea Team Project/index.js"></script>
</body>
</html>