<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
  integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="icon" href="/image/favicon.png">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script th:inline="javascript">
  	const list = /*[[${list}]]*/
  	var pagemaker = /*[[${pageMaker}]]*/
  	console.log(pagemaker.cri.amount);
  	console.log(list);
  	
  	/* 현재 url의 카테고리 코드 추출 */
  	/* Code By Color Scripter™ 
    function getParameterByName(name, url) {
	     if (!url) url = window.location.href;
	     name = name.replace(/[\[\]]/g, "\\$&");
	     var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
	         results = regex.exec(url);
	     return results[2];
    }
  	let catecode = getParameterByName('catecode');
  	*/

  	/* 상품 목록 */
  	function productList() {
  		const $wrap = $(".card-wrap table");
  		let $tr;
  		$.each(list, function(idx, product) {
  			if (idx % 3 == 0)
  				$tr = $('<tr>').appendTo($wrap);
			const $td = $('<td>').appendTo($tr);
  			const $card = $('<div class="card">').appendTo($td);
  			const $a = $('<a>').attr('href', "/product/member/productDetail?pno=" + product.pno).attr('title', product.name).appendTo($card);
  			$('<img>').attr('src', product.pthumbnail).attr('alt', '상품').attr('style', 'width:80%').appendTo($a);
  			$('<h1>').text(product.cname).appendTo($a);
  			$('<p>').attr('class', 'title').text(product.pname).appendTo($a);
  			$('<p>').attr('class', 'amount').text(product.price + " 원").appendTo($card);
  			const $btnwrapper = $('<div>').attr('class', 'btnwrapper').appendTo($card);
  			$('<button>').attr('class', 'left-btn').attr('th:data-pno', product.pno).text('바로구매').appendTo($btnwrapper);
  			$('<button>').attr('class', 'right-btn').attr('th:data-pno', product.pno).text('장바구니').appendTo($btnwrapper);
  		})
  	}
  	
  	/* 페이징 */
  	function pagination() {
		const $pagination = $('#pagination');
		const $ul = $('<ul class="pagination">').appendTo($pagination);
		if (pagemaker.prev == true) {
			const $li = $('<li>').appendTo($ul);
			$('<a>').attr('href', '/product/productList?nowPage=' + (pagemaker.start - 1) + '&amount=' + pagemaker.cri.amount + '&catecode=' + pagemaker.cri.catecode + '&sort=' + pagemaker.cri.sort).text("이전").appendTo($li);
		}
		for (let i = pagemaker.start; i <= pagemaker.end; i++) {
			const $li = $('<li>').appendTo($ul);
			$('<a>').attr('href', '/product/productList?nowPage=' + i + '&amount=' + pagemaker.cri.amount + '&catecode=' + pagemaker.cri.catecode + '&sort=' + pagemaker.cri.sort).text(i).appendTo($li);
			if (i == pagemaker.nowPage)
				$li.attr('class', 'active');
		}
		if (pagemaker.next == true) {
			const $li = $('<li>').appendTo($ul);
			$('<a>').attr('href', '/product/productList?nowPage=' + (pagemaker.end + 1) + '&amount=' + pagemaker.cri.amount + '&catecode=' + pagemaker.cri.catecode + '&sort=' + pagemaker.cri.sort).text("다음").appendTo($li);
		}
  	}
  	
  	/* 바로 구매 버튼 처리 */
  	function toPay() {
		const $form = $('<form>').attr('method', 'post').attr('action', '/order/preview/one').appendTo($('body'));
		$('<input>').attr('type', 'hidden').attr('name','pno').val($(this).attr('th:data-pno')).appendTo($form);
		$('<input>').attr('type', 'hidden').attr('name','count').val(1).appendTo($form);
		$form.submit();
  	}
  	
  	/* 장바구니 버튼 처리 */
  	function toCart() {
  		const check = confirm("상품이 담겼습니다. 장바구니로 이동하시겠습니까?");
  		if (check == true) {
  			const $form = $('<form>').attr('method', 'post').attr('action', '/order/cart/add').appendTo($('body'));
  			$('<input>').attr('type', 'hidden').attr('name','pno').val($(this).attr('th:data-pno')).appendTo($form);
  			$('<input>').attr('type', 'hidden').attr('name','count').val(1).appendTo($form);
  			$form.submit();
  		} else {
  			$('<iframe>').attr('id', 'iframe1').attr('name', 'iframe1').attr('style', 'display:none').appendTo($('body'));  /* 화면 이동 없게 함 */
  			const $form = $('<form>').attr('method', 'post').attr('action', '/order/cart/add').attr('target', 'iframe1').appendTo($('body'));
  			$('<input>').attr('type', 'hidden').attr('name','pno').val($(this).attr('th:data-pno')).appendTo($form);
  			$('<input>').attr('type', 'hidden').attr('name','count').val(1).appendTo($form);
  			$form.submit();
  		}
  	}
  	
  	/* 신상순 정렬 버튼 처리 */
  	function newest() {
		let newUrl = window.location.search;
		let url = new URLSearchParams(newUrl);
		url.set("sort", "newest");
		newUrl = url.toString();
		console.log(newUrl);
		location.href = "/product/productList?" + newUrl;
  	}
  	
  	/* 높은 가격순 정렬 버튼 처리 */
  	function highPrice() {
		let newUrl = window.location.search;
		let url = new URLSearchParams(newUrl);
		url.set("sort", "highprice");
		newUrl = url.toString();
		console.log(newUrl);
		location.href = "/product/productList?" + newUrl;
  	}
  	
  	/* 낮은 가격순 정렬 버튼 처리 */
  	function lowPrice() {
		let newUrl = window.location.search;
		let url = new URLSearchParams(newUrl);
		url.set("sort", "lowprice");
		newUrl = url.toString();
		console.log(newUrl);
		location.href = "/product/productList?" + newUrl;
  	}
  	
	$(document).ready(function() {
		productList();
		pagination();
		
		/* 바로 구매 버튼 처리 */
		$('.left-btn').click(toPay);
		
		/* 장바구니 버튼 처리 */
		$('.right-btn').click(toCart);
		
		/* 신상순 정렬 버튼 처리 */
		$('#newest').click(newest);
		
		/* 높은 가격순 정렬 버튼 처리 */
		$('#highprice').click(highPrice);
		
		/* 낮은 가격순 정렬 버튼 처리 */
		$('#lowprice').click(lowPrice);
		
	})
  </script>
  <style>
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 380px;
  text-align: center;
  font-family: arial;
  display: inline-block;
  margin: 30px;
  }
.title {
  color: #1b1b1baf;
  font-size: 18px;
}
.amount {
 font-size: 20px;
 font-weight: bold;
}
button {
  outline: 0;
  color: white;
  background-color: gray;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  width: 50%;
  border: none;
  border-right: 1px solid white;
}
button:hover {
  color: black;
}
.btnwrapper {
 clear: both;
}
.left-btn {
  float: left;
}
.right-btn {
  float: right;
}
.card-wrap {
  display: flex;
  justify-content: center;
}
.card-wrap tr td {
  width: 380px;
  height: 250px;
}

a {
  text-decoration: none;
  font-size: 22px;
}

.card h1 {
  font-size: 15px;
  color: crimson;
  padding-top: 10px;
}

#category {
  padding: 27px 0;
}
#category .position ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
li{
  padding-left: 0;
  margin: 20px;
  display: list-item;
  text-align: -webkit-match-parent;
}

.category ul li a:hover {
  color: black;
} 
 </style>
 <title>상품 목록</title>
</head>
<body>
  <header>
    <span class="leftnav"><a href="/">ECorea</a></span>
    <span class="leftnav"><a href="/product/productList?nowPage=1&amount=9&catecode=&sort=">SHOP</a></span>
    <span class="leftnav"><a href="/challenge/challengeList">CHALLENGE</a></span>
    <span class="leftnav"><a href="/">ABOUT</a></span>
    <span class="rightnav"><a href="/general/joinSelect">JOIN</a></span> 
    <span class="rightnav"><a href="/general/login">LOGIN</a></span>
  </header>


    <div class="category">
      <ul>
      	<!-- ★ catecode는 카테고리 데이터 수정하는 대로 수정 필요! -->
        <li><a href="/product/productList?nowPage=1&amount=9&catecode=&sort=">All</a></li>
        <li><a href="/product/productList?nowPage=1&amount=9&catecode=1&sort=">반려용품</a></li>
        <li><a href="/product/productList?nowPage=1&amount=9&catecode=2&sort=">생활용품</a></li>
        <li><a href="/product/productList?nowPage=1&amount=9&catecode=3&sort=">제로웨이스트</a></li>
        <li><a href="/product/productList?nowPage=1&amount=9&catecode=4&sort=">원목소품</a></li>
        <li><a href="/product/productList?nowPage=1&amount=9&catecode=5&sort=">인테리어소품</a></li>
        <li><a href="/product/productList?nowPage=1&amount=9&catecode=6&sort=">DIY키트</a></li>
      </ul>
    </div>


  <div class="mininav">
    <ul>
      <li><a href="#" id="newest">신상품</a></li>
      <li><a href="#" id="lowprice">낮은가격순</a></li>
      <li><a href="#" id="highprice">높은가격순</a></li>
    </ul>
  </div>
	
	<section class="card-wrap">
	  <table class="twrap">
	  <!-- 
	  	<tr th:each="product : ${list}">
	  		<td>
	  			<div class="card">
			  		<a th:href="@{/product/member/productDetail(pno=${product.pno})}"><img th:src="${product.pthumbnail}" alt="상품" style="width:100%"></a>
		            <a th:href="@{/product/member/productDetail(pno=${product.pno})}"><h1 th:text="${product.cname}"></h1></a>
		            <a th:href="@{/product/member/productDetail(pno=${product.pno})}"><p class="title" th:text="${product.pname}"></p></a>
		            <p class="amount" th:text="${product.price} + ' 원'"></p>
		            <div class="btnwrapper">
		            <p><button class="left-btn">바로구매</button></p>
		            <p><button class="right-btn">장바구니</button></p>
	  			</div>
	  		</td>
	  	-->
	  </table>
	  <form id="sendData" method="get">
	  	<input type="hidden" name="nowPage" value="${pageMaker.cri.nowPage}">
	  	<input type="hidden" name="amount" value="${pageMaker.cri.amount}">
	  	<input type="hidden" name="catecode" value="${pageMaker.cri.catecode}">
	  	<input type="hidden" name="sort" value="${pageMaker.cri.sort}">
	  </form>
	</section>
		<div id="pagination" style="display:flex; justify-content:center;">
		</div>
	
	<input class="goupbtn" type="button" value="↑" onclick="clickme()"></div>
	
<footer>
  <address style="font-size:12px; display:inline-block;margin-top:10px;margin-left:20px;">
    인천광역시 미추홀구<br>
    이메일 : ecorea@gmail.com<br>
    전화번호 : 032-000-0000
  </address>
</footer>
  <script src="/js/index.js"></script>
</body>
</html>