<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" href="../static/image/favicon.png">
    <title>ECorea</title>
</head>
<body>
  <header>
    <div class="logo"><a href="/">ECorea</a></div>
    <span><a href="/general/joinSelect">회원가입</a></span>
      <span><a href="/general/login">로그인</a></span>
  </header>
<!-- 
    일반회원 로그인 상태 
    <header>
    <div class="logo"><a href="/">ECorea</a></div>
     <span><a href="/general/joinSelect">로그아웃</a></span>
      <span><a href="/general/login">마이페이지</a></span>
       <span><a href="/general/login">장바구니</a></span>
  </header>
  기업회원 로그인 상태
  <header>
    <div class="logo"><a href="/">ECorea</a></div>
     <span><a href="/general/joinSelect">로그아웃</a></span>
      <span><a href="/general/login">마이페이지</a></span>
  </header>
-->

  <nav>
    <div class="topnav">
      <a href="/product/productList">생활</a>
      <a href="#">제로웨이스트</a>
      <a href="#">소품</a>
      <a href="#">DIY</a>
      <div class="topnav-right">
        <a href="#">챌린지</a>
        <a href="#">브랜드 소개</a>
      </div>
    </div>
  </nav>


  <article>
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/image/slider1.jpg" alt="챌린지 슬라이더 이미지1" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="../static/image/slider2.jpg" alt="챌린지 슬라이더 이미지2" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="../static/image/slider3.jpg" alt="챌린지 슬라이더 이미지3" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</article>

<section id="services">
  <div class="section-content">
    <div class="container services">
      <div class="services-header text-center mb-5">
        <p class="display-5">최신 상품</p>
      </div>
      <div id="slick-slide" class="sercives-body">
        <div class="services-col mx-2 my-3">
          <div class="card">
            <a href="./product/productList.html">
              <img src="../static/image/product.jpg" alt="상품" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-title" style="color: crimson;">브랜드명</p>
              <p class="card-text fw-light mb-4">
                [업사이클링 DIY] 업사이클링 티셔츠 손목 쿠션 Kit
              </p>
              <span style="color:black; font-size: 20px;">15,000원</span>
            </div>
          </div>
        </div>
        <div class="services-col mx-2 my-3">
          <div class="card">
            <a href="./product/productList.html">
              <img src="../static/image/product.jpg" alt="상품" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-title" style="color: crimson;">브랜드명</p>
              <p class="card-text fw-light mb-4">
                [업사이클링 DIY] 업사이클링 티셔츠 손목 쿠션 Kit
              </p>
              <span style="color:black; font-size: 20px;">15,000원</span>
            </div>
          </div>
        </div>
        <div class="services-col mx-2 my-3">
          <div class="card">
            <a href="./product/productList.html">
              <img src="../static/image/product.jpg" alt="상품" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-title" style="color: crimson;">브랜드명</p>
              <p class="card-text fw-light mb-4">
                [업사이클링 DIY] 업사이클링 티셔츠 손목 쿠션 Kit
              </p>
              <span style="color:black; font-size: 20px;">15,000원</span>
            </div>
          </div>
        </div>
        <div class="services-col mx-2 my-3">
          <div class="card">
            <a href="./product/productList.html">
              <img src="../static/image/product.jpg" alt="" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-title" style="color: crimson;">브랜드명</p>
              <p class="card-text fw-light mb-4">
                [업사이클링 DIY] 업사이클링 티셔츠 손목 쿠션 Kit
              </p>
              <span style="color:black; font-size: 20px;">15,000원</span>
            </div>
          </div>
        </div>
        <div class="services-col mx-2 my-3">
          <div class="card">
            <a href="./product/productList.html">
              <img src="../static/image/product.jpg" alt="상품" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-title" style="color: crimson;">브랜드명</p>
              <p class="card-text fw-light mb-4">
                [업사이클링 DIY] 업사이클링 티셔츠 손목 쿠션 Kit
              </p>
              <span style="color:black; font-size: 20px;">15,000원</span>
            </div>
          </div>
        </div>
        <div class="services-col mx-2 my-3">
          <div class="card">
            <a href="./product/productList.html">
              <img src="../static/image/product.jpg" alt="상품" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-title" style="color: crimson;">브랜드명</p>
              <p class="card-text fw-light mb-4">
                [업사이클링 DIY] 업사이클링 티셔츠 손목 쿠션 Kit
              </p>
              <span style="color:black; font-size: 20px;">15,000원</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <footer>
    <address style="font-size: 12px; display:inline-block;margin-top:10px;margin-left:20px;">
      인천광역시 미추홀구<br>
      이메일 : ecorea@gmail.com<br>
      전화번호 : 032-000-0000
    </address>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/index.js"></script>
</body>
</html>