<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
  integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script th:inline="javascript">
  	const role = /*[[${role}]]*/
  	const product = /*[[${product}]]*/
 	
	/* 페이지 정보 */
  	const cri = {
		pno : product.pno,
		nowPage : 1,
		amount : 10
	}
	
  	/* 후기 출력 (페이징) */
  	function makeHugi(obj) {
  		console.log("############### 후기 목록")
		console.log(obj.list);
  		if (obj.list.length === 0) {
            $(".hugizero").html('<span>후기가 없습니다. (≡^∇^≡)</span>');
            $(".hugilist").html('');
  		  	$(".hugiPageMaker").html('');
          } else {
            const list = obj.list;
            const pf = obj.pageInfo;
            $(list).each(function(i, obj) {
              const $tbody = $('#hugi_tbody');
              const $tr = $('<tr>').appendTo($tbody);
              $('<td>').text(obj.hno).appendTo($tr);
              $('<td>').text(obj.htitle).attr('class', 'title').data('num', obj.hno).appendTo($tr);
              $('<td>').text(obj.hwriter).appendTo($tr);
              $('<td>').text(obj.hregday).appendTo($tr);
              let $show = $('<tr>').attr('class', 'show').attr('style', 'display: none').appendTo($tr);
              if (obj.himg != null) {
                let $td = $('<td>').attr('colspan', '2').appendTo($show);
                $('<img>').attr('src', obj.himg).appendTo($td)
                $('<td>').attr('colspan', '2').text(obj.hcontent).appendTo($show);
              } else {
                $('<td>').attr('colspan', '4').text(obj.hcontent).appendTo($show);
              }
            });
              
            let reply_pageMaker = '';	
            
            /* prev */
  	  		if (pf.prev) {
  	  			let prev_num = pf.start -1;
  	  			reply_pageMaker += '<li class="hugiPageMaker_btn prev">';
  	  			reply_pageMaker += '<a href="'+ prev_num +'">이전</a>';
  	  			reply_pageMaker += '</li>';	
  	  		}
  	  		/* number btn */
  	  		for(let i = pf.start; i < pf.end+1; i++){
  	  			reply_pageMaker += '<li class="hugiPageMaker_btn ';
  	  			if(pf.cri.pageNum === i){
  	  				reply_pageMaker += 'active';
  	  			}
  	  			reply_pageMaker += '">';
  	  			reply_pageMaker += '<a href="' + i + '">' + i + '</a>';
  	  			reply_pageMaker += '</li>';
  	  		}
  	  		/* next */
  	  		if(pf.next){
  	  			let next_num = pf.end +1;
  	  			reply_pageMaker += '<li class="hugiPageMaker_btn next">';
  	  			reply_pageMaker += '<a href="'+ next_num +'">다음</a>';
  	  			reply_pageMaker += '</li>';	
  	  		}
  	  		
  	  		$(".hugiPageMaker").html(reply_pageMaker);	
          };
  	}
  	
	/* 후기 데이터 요청 */
	function requestHugi() {
  		$.getJSON("/productDetail/hugilist?", cri, function(obj) {
      	  makeHugi(obj);
        });
	}
	
	/* 후기 페이징 버튼 */
  	$(document).on('click', '.hugiPageMaker_btn a', function(e){
  		e.preventDefault();
  		let page = $(this).attr("href");
  		cri.nowPage = page;
  		$('#hugi_tbody').empty();
  		requestHugi();
	});
  	
  	/* 문의 출력 (페이징) */
  	function makeQna(obj) {
  		console.log("############### 문의 목록")
  		console.log(obj.list);
  		if (obj.list.length === 0) {
            $(".qnazero").html('<span>문의가 없습니다. (≡^∇^≡)</span>');
            $(".qnalist").html('');
  		  	$(".qnaPageMaker").html('');
          } else {
            const list = obj.list;
            const pf = obj.pageInfo;
            $(list).each(function(i, obj) {
              const $tbody = $('#qna_tbody');
              const $tr = $('<tr>').appendTo($tbody);
              $('<td>').text(obj.qqno).appendTo($tr);
              $('<td>').text(obj.qqcategory).appendTo($tr);
              $('<td>').text(obj.qqtitle).attr('class', 'title').data('num', obj.qqno).appendTo($tr);
              $('<td>').text(obj.memberId).appendTo($tr);
              $('<td>').text(obj.qqregday).appendTo($tr);
              let $show = $('<tr>').attr('class', 'show').attr('style', 'display: none').appendTo($tr);
              if (obj.qqimg != null) {
                let $td = $('<td>').attr('colspan', '2').appendTo($show);
                $('<img>').attr('src', obj.qqimg).appendTo($td)
                $('<td>').attr('colspan', '3').text(obj.qqcontent).appendTo($show);
              } else {
                $('<td>').attr('colspan', '5').text(obj.qqcontent).appendTo($show);
              }
            });
              
            let reply_pageMaker = '';	
              /* prev */
  	  		if (pf.prev) {
  	  			let prev_num = pf.start -1;
  	  			reply_pageMaker += '<li class="qnaPageMaker_btn prev">';
  	  			reply_pageMaker += '<a href="'+ prev_num +'">이전</a>';
  	  			reply_pageMaker += '</li>';	
  	  		}
  	  		/* number btn */
  	  		for(let i = pf.start; i < pf.end+1; i++){
  	  			reply_pageMaker += '<li class="qnaPageMaker_btn ';
  	  			if(pf.cri.pageNum === i){
  	  				reply_pageMaker += 'active';
  	  			}
  	  			reply_pageMaker += '">';
  	  			reply_pageMaker += '<a href="' + i + '">' + i + '</a>';
  	  			reply_pageMaker += '</li>';
  	  		}
  	  		/* next */
  	  		if(pf.next){
  	  			let next_num = pf.end +1;
  	  			reply_pageMaker += '<li class="qnaPageMaker_btn next">';
  	  			reply_pageMaker += '<a href="'+ next_num +'">다음</a>';
  	  			reply_pageMaker += '</li>';	
  	  		}
  	  		
  	  		$(".qnaPageMaker").html(reply_pageMaker);	
          };
  	}
	
	/* 문의 데이터 요청 */
	function requestQna() {
  		$.getJSON("/productDetail/qnalist?", cri, function(obj) {
      	  makeQna(obj);
        });
	}
	
	/* 문의 페이징 버튼 */
  	$(document).on('click', '.qnaPageMaker_btn a', function(e){
  		e.preventDefault();
  		let page = $(this).attr("href");
  		cri.nowPage = page;
  		$('#qna_tbody').empty();
  		requestQna();
	});
	
  	$(document).ready(function() {
        const pno = product.pno;
      
        /* 후기 출력 */
        $.getJSON("/productDetail/hugilist?", {pno : pno}, function(obj) {
    	    makeHugi(obj);
        });
      
        /* 문의 출력 */
        $.getJSON("/productDetail/qnalist?", {pno : pno}, function(obj) {
      	    makeQna(obj);
        });
	});
  </script>
  <style>
  * {box-sizing: border-box;}
  h3 {
      text-align: center;
      margin-top: 20px;
    }
p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}
.product-info {
 display: inline-block;
 vertical-align: top;
}
.product-info.left {
  height: 350px;
  width: 500px;
  /* padding: 10px; */
  margin: 10px;
  text-align: start;
}
.product-info.right {
  height: 350px;
  width: 500px;
  /* padding: 10px; */
  margin: 10px;
  text-align: start;
}
.inside-product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

}
.reviewlist {
  width: 900px;
  text-align: center;
}
.qnalist {
  width: 900px;
  text-align: center;
}
.productwrap {
 display: flex;
 justify-content: center;
 margin-top: 120px;
}
.etc:hover {
	color:black;
}
.topnav {
	background-color: #ecf0f1;
}
hr {
width: 1125px;
text-align: center;
margin: 0px auto;
}
.hugizero,.qnazero {
width: 900px;
display: flex;
justify-content: center;
margin: 0 auto;
}
.qnabtn {
float: right;
display: inline-block;
margin-right: 60px;
}
.qnalist, .hugilist {
    width: 1100px;
    text-align: center;
    margin: 0 auto;
}
.qnaPageMaker {
text-align: center;
}
table img {
width: 200px;
height: 200px;
}
.table td {
font-size: 15px;
}
</style>
<body>
<header th:replace="fragments/common :: header">
</header>
<div id="wrapper">
	<div class="productwrap">
		<div class="product-info left">
			<div class="product-img">
				<img th:src="${product.pthumbnail}" alt="상품" style="width: 100%">
			</div>
		</div>

		<div class="product-info right">
			<p style="font-size: 25px; font-weight: bold;"
				th:text="${product.pname}">상품명</p>
			<br> <span>판매가격 : <span id="price"
				th:text="${product.price}"></span> 원
			</span><br>
			<br>
	<div class="updown">
		<span>수량 : </span>&nbsp;&nbsp;&nbsp;
		<button type="button" id="minus">-</button>
		<input type="text" name="p_num1" id="p_num1" size="2" maxlength="4"
			class="p_num" value="1">
		<button type="button" id="plus">+</button>
	</div>
	<br> <span>총 합계 : </span><span><span id='totalPrice'
		th:text="${product.price}"></span>&nbsp;원</span><span> (<span
		id='totalCnt'>1</span>&nbsp;개)
	</span><br>
	<br>
	<br>
	<button type="button" class="btn btn-primary" id="order" disabled>바로구매</button>
	<button type="button" class="btn btn-primary" id="cart" disabled>장바구니
		담기</button>
	<button type="button" class="btn btn-primary" formaction="#" disabled>관심상품
		등록</button>
	</div>
	</div>
	<div class="inside-product topnav topnav-right">
		<a href="#content1" class="etc">상품 상세정보</a> <a href="#content2"
			class="etc">구매 후기</a> <a href="#content3" class="etc">상품 문의</a>
	</div>
	<div class="wrapper">
		<div class="detail-product" id="content1">
			<p th:utext='${product.pcontent}'></p>
		</div>
		
		<!-- <p class="pwrap" th:utext='${product.pcontent}'></p> -->
		
		
		<hr>
		<h3 style="text-align: center;" id="content2">구매 후기</h3>
		<div class="hugizero"></div>
		<div class="hugilist">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>등록일</th>
					</tr>
				</thead>
				<tbody id="hugi_tbody">
				</tbody>
			</table>
		</div>
		<div class="hugiPageMaker"></div>
		<hr>
		<h3 style="text-align: center;" id="content3">상품 문의</h3>
		<div class="qnazero"></div>
		<div class="qnalist">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>번호</th>
						<th>카테고리</th>
						<th>제목</th>
						<th>작성자</th>
						<th>등록일</th>
					</tr>
				</thead>
				<tbody id="qna_tbody">
				</tbody>
			</table>
		</div>
		<div class="qnaPageMaker"></div>
		<button type="button" class="btn btn-primary qnabtn"
			onclick="location.href='/mypage/member/qnaUpload'">등록</button>
	</div>
</div>
<footer th:replace="fragments/common :: footer">
</footer>

  <script>
  	/* 제목 클릭 시 본문 출력 */
	$(document).on('click', '.title', function() {
		console.log($(this).next().next().next().attr('style'));
		if ($(this).next().next().next().attr('style') == 'display: none') {
			$(this).next().next().next().attr('style', 'display: ');
		} else {
			$(this).next().next().next().attr('style', 'display: none');
		}
	})
  
    let slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    </script>
    <script src="/js/index.js"></script>
</body>
</html>