<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/common.css">
  <link rel="icon" href="/image/favicon.png">
  <title>장바구니</title>
  <style>
    h1 {
      text-align: center;
    }
    .btn {
      margin-left: 15px;
    }
    .updown {
      float: right;
    }
    .form-inline {
      float: right;
    }
    .form-control {
      width: 200px;
    }
    .btn-primary {
      float: right;
    }
    .wrapper {
      margin: 40px;
    }
  </style>
	<script th:inline="javascript">
		const cartList = /*[[${cartList}]]*/
		
		// 장바구니 총 금액 
		function getTotalPrice() {
			let totalPrice = 0;
			$(".product_price").each(function(idx, price) {
				totalPrice += parseInt($(price).text());
			});
			return totalPrice;
		}
		
		
		// 수량 증가
		function plusCnt() {
            const $pno = $(this).attr('data-pno');
            let count = $(this).prev().text();  
            
            $.ajax({
            	url: "/order/cart/plusProduct/" + $pno,
            	method: "patch"
            }).done((productCnt)=>{
            	$(this).prev().text("\u00a0\u00a0" + productCnt + "\u00a0\u00a0");
            	const $price = $(this).parent().parent().prev().find('#price').text();
            	$(this).parent().parent().next().text(productCnt*$price);
            	$('#totalpay').text(getTotalPrice());            	
            }).fail(()=>alert("더 이상 구매할 수 없습니다."));             
        }
		
		// 수량 감소
		function minusCnt() {
			const $pno = $(this).attr('data-pno');
			let count = $(this).next().text();
			
			$.ajax({
				url: "/order/cart/minusProduct/" + $pno,
				method: "patch"
			}).done((productCnt)=>{
				$(this).next().text("\u00a0\u00a0" + productCnt + "\u00a0\u00a0");
				const $price = $(this).parent().parent().prev().find("#price").text();
				$(this).parent().parent().next().text(productCnt*$price);
				$("#totalpay").text(getTotalPrice());
			}).fail(()=>alert("최소 구매 수량은 1개 입니다."));
		}
		
		
		// 상품 한개 삭제
		function deleteOne() {
			const result = confirm("상품을 장바구니에서 삭제하시겠습니까?");
			if(result==true) {
				const $form = $('<form>').attr('method','post').attr('action','/order/cart/deleteOne').appendTo($('body'));
				$('<input>').attr('type','hidden').attr('name','pno').val($(this).attr('data-pno')).appendTo($form);
				$form.submit();
			}
		}
		
		
		// 상품 전체 삭제
		function deleteAll() {
			const result = confirm("장바구니에 담긴 상품을 전체 삭제하시겠습니까?");
			if(result==true) {
				const $form = $('<form>').attr('method','post').attr('action','/order/cart/deleteAll').appendTo($('body'));
				$('<input>').attr('type','hidden').attr('name','confirm').val("confirm").appendTo($form);
				$form.submit();
			}
		}
		
		
		// 선택 상품 삭제
		function deleteSelected() {
			const result = confirm("선택한 상품을 장바구니에서 삭제하시겠습니까?");
			if(result==true) {
				const $form = $('<form>').attr('method','post').attr('action','/order/cart/deleteSelected').appendTo($('body'));
				$('<input>').attr('type','hidden').attr('name','confirm').val("confirm").appendTo($form);
				$('.pno').each(function(idx, checkbox) {
					if($(this).prop('checked')==true) {
						$('<input>').attr('type','hidden').attr('name','pnos').val($(this).attr('data-pno')).appendTo($form);
					}
				});
				if($form.serialize()!="")
					$form.submit();
			}			
		}
		
		
		// 선택상품 주문하기
		function order() {
			const result = confirm("선택한 상품을 주문하시겠습니까?");
			if(result == true) {
				const $form = $('<form>').attr('method','post').attr('action','/order/pay').appendTo($('body')); 
				$('.pno').each(function(idx, checkbox) {
					if($(checkbox).prop('checked')==true) {
						const pno = parseInt($(checkbox).attr('data-pno'));
						const count = parseInt($(checkbox))
						
					}
				});
			}
		}
		
		
          
    	$(document).ready(function() {
    		$('#totalpay').text(getTotalPrice());
    		$('.plus').click(plusCnt);
    		$('.minus').click(minusCnt);
    		$('.delete').click(deleteOne);
    		$('#delete_selected').click(deleteSelected);
    		$('#delete_all').click(deleteAll);
    		$('#order').click(order);
    		
    	}) 
	</script>
</head>
<body>
	<h1>장바구니</h1>
    <div class="wrapper">
        <button type="submit" class="btn btn-primary" id="delete_selected">선택삭제</button>
        <button type="submit" class="btn btn-primary" id="delete_all">전체삭제</button><br>
        <div id="list" th:each="list: ${cartList}">
            <h3 th:text="${list.corpName}"></h3>
            <div class="container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>이미지</th>
                            <th>상품명(금액)</th>
                            <th>수량</th>
                            <th>상품 금액</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product: ${list.cartProduct}">
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input pno" th:data-pno="${product.pno}" value="">
                                    <span>&nbsp;&nbsp;<span th:text="${product.pno}" name="pno" id="pno"></span></span>                                    
                                </div>
                            </td>
                            <td th:text="${product.pthumbnail}"></td> 
                            <td>
                                <span name="cartpname" id="cartpname" th:text="${product.cartpname}"></span>
                                <span>(&nbsp;<span name="price" id="price" th:text="${product.price}"></span>&nbsp;)</span>
                            </td>
                            <td>
                                <div class="updown">
                                    <button type="button" class="minus" th:data-pno="${product.pno}">-</button>
                                     <span>&nbsp;&nbsp;<span name="cartcnt" id="cartcnt" class="cartcnt" th:text="${product.cartcnt}"></span>&nbsp;&nbsp;</span>
                                    <button type="button" class="plus" th:data-pno="${product.pno}">+</button>
                                </div>
                            </td>
                            <td class="product_price" th:text="${product.price*product.cartcnt}"></td>
                            <td>
                                <button type="button" class="btn btn-primary delete" th:data-pno="${product.pno}">삭제</button>
                            </td>
                        </tr>   
                    </tbody>
                </table>
            </div>     
            <hr>
        </div>
    </div>
    <form class="form-inline">
        <label for="totalpay" class="mr-sm-2">총 금액</label>
        <div class="form-control mb-2 mr-sm-2" id="totalpay"></div>
        <button type="button" class="btn btn-primary" style="margin-bottom:20px;" id="order">주문하기</button><br>
    </form>
</body>
</html>