<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common::html-head">
  <title>장바구니</title>
</head>
  <style>
    .btn {
      margin-left: 15px;
    }
    .updown {
      float: right;
    }
    .form-inline {
      float: right;
    }
    .form-control {
      width: 200px;
    }
    .btn-primary {
      float: right;
    }
    .wrapper {
      margin: 40px;
    }
  </style>
<body>
	<header th:replace="fragments/common::header"></header>
	<h1> ❤️ 주문 완료 ❤️ </h1>
    <div class="wrapper">
        <div id="list">
            <h3></h3>
            <div class="container">
            	<a class="btn btn-primary" href="/order/orderList">주문목록으로 이동</a>
            </div>     
        </div>
    </div>
    <footer th:replace="fragments/common::footer"></footer>
</body>
</html>