<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <title>주문 조회</title>
  <style>
    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>주문 조회</h1>
  <div class="container">            
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>주문 번호</th>
          <th>이미지</th>
          <th>상품명</th>
          <th>수량</th>
          <th>금액</th>
          <th>주문 처리 상태</th>
          <th>취소/교환/반품</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
          </td>
          <td></td>
          <td></td>
          <td>
            <div class="updown">
            <button type="button">-</button>
            <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="1">
            <button type="button">+</button>
          </div>
          </td>
          <td></td>
          <td></td>
          <td>
            <button type="submit" class="btn btn-primary">취소/교환/반품</button>
          </td>
        </tr>
        <tr>
          <td>
        </td>
          <td></td>
          <td></td>
          <td>
            <div class="updown">
              <button type="button">-</button>
              <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="1">
              <button type="button">+</button>
            </div>
          </td>
          <td></td>
          <td></td>
          <td>
            <button type="submit" class="btn btn-primary">취소/교환/반품</button>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td></td>
          <td></td>
          <td>
            <div class="updown">
              <button type="button">-</button>
              <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="1">
              <button type="button">+</button>
            </div>
          </td>
          <td></td>
          <td></td>
          <td>
            <button type="submit" class="btn btn-primary">취소/교환/반품</button>
          </td>
        </tr>
         <tr>
          <td>
          </td>
          <td></td>
          <td></td>
          <td>
            <div class="updown">
              <button type="button">-</button>
              <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="1">
              <button type="button">+</button>
            </div>
          </td>
          <td></td>
          <td></td>
          <td>
            <button type="submit" class="btn btn-primary">취소/교환/반품</button>
          </td>
        </tr>
         <tr>
          <td>
          </td>
          <td></td>
          <td></td>
          <td>
            <div class="updown">
              <button type="button">-</button>
              <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="1">
              <button type="button">+</button>
            </div>
          </td>
          <td></td>
          <td></td>
          <td>
            <button type="submit" class="btn btn-primary">취소/교환/반품</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>