<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common::html-head">
  <title>주문 조회</title>  
</head>
<body>
<header th:replace="fragments/common::header"></header>
<div id="wrapper">
  <h1>주문 조회</h1>
  <div class="container">            
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>주문 번호</th>
          <th>이미지</th>
          <th>상품명</th>
          <th>수량</th>
          <th>금액</th>
          <th>주문 처리 상태</th>
          <th>취소/교환/반품</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="list: ${jumunList}">
          <td th:text="${list.jno}"></td>
          <td>
          	<img th:src="${list.pthumbnail}" width="75px;">
          </td>
          <td th:text="${list.pname}"></td>
          <td th:text="${list.cnt}"></td>
          <td th:text="${list.price}"></td>
          <td>
          	<span th:text="${list.jstatus}"></span>
          	<a href="/order/reviewUpload" th:if="${list.getJstatus.toString}=='배송완료'" class="btn btn-primary">후기 작성</a>
          </td>
          <td>
            <a href="#" class="btn btn-primary">취소/교환/반품</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<footer th:replace="fragments/common::footer"></footer>
<script src="/js/index.js"></script>
</body>
</html>