<!DOCTYPE html>
<html lang="ko">
<head>
  <title>후기 수정</title>
</head>
  <script src="/js/hugiCheck.js"></script>
  <style>
  * {box-sizing: border-box;}
  h1 {
  margin-top: 50px;
  }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<script>
	//자바스크립트를 이용해 상품 이미지 미리보기
	function previewImage() {
		const file = $("#himg")[0].files[0];
		
		// 이미지의 크기 제한 : 1MB
		const maxSize = 1024*1024;
		if(file.size>maxSize) {
			Swal.fire('이미지 크기 오류', '상품이미지는 1MB를 넘을 수 없습니다', 'error');
			// input과 이미지 미리보기 영역을 초기화
			$('#himg').val('');
			$('#show_himg').removeAttr('src');
			return false;
		}
		
		const reader = new FileReader();
		
		reader.readAsDataURL(file);
		reader.onload = function() {
			$("#show_himg").attr("src", reader.result);
		}
		return true;
	}
  
  	$(document).ready(function() {
  		$('#himg').change(function() {
  			console.log($('#himg').val());
  			if($('#himg').val()==='') {
  				$('#show_himg').css({
  	  				'display': 'none'
  	  			});
  			} else {
	  			$('#show_himg').css({
	  				'display': 'block'
	  			});  				
  			}
  			previewImage();
  		});
  		
  		$('.btn').click(function() {
  			if(confirm('글을 수정하시겠습니까 ?')) {
  				if((titleCheck() && contentCheck())==false) {
  		  			alert('내용을 입력해주세요');
  		  			return false;
  		  		} else {
  					$('#update_form').submit();
  		  		}
  			}
  		});
  	});
  </script>
<body>
<header th:replace="fragements/common::header"></header>
  <h1>후기 수정</h1>
  <div class="container">
    <form action="/order/reviewUpdate" method="post" enctype="multipart/form-data" id="update_form">
      <input type="hidden" name="hno" th:value="${hugi.hno}" />
      <label for="htitle">제목</label>
      <input type="text" id="htitle" name="htitle" th:value="${hugi.htitle}" placeholder="제목을 입력해주세요.">
  
      <div class="mb-3">
        <label for="himg" class="form-label">썸네일 이미지</label>
        <input type="file" class="form-control" id="himg" name="himg" accept=".jpg,.jpeg,.png,.gif">
      </div>
	  <img th:src="${hugi.himg}" id="show_himg" height="200px" style="display: block"/>
      <label for="hcontent">내용</label>
      <textarea id="hcontent" name="hcontent" placeholder="내용을 입력해주세요." th:text="${hugi.hcontent}" style="height:200px"></textarea>
      <button type="button" class="btn btn-primary">수정</button>
    </form>
  </div>
  <footer th:replace="fragements/common::footer"></footer>
</body>
</html>