<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common::html-head">
  <title>후기 목록</title>
</head>
  <style>
    .wrapper {
      margin: 30px;
    }
    .btn {
    margin-bottom: 5px;
    }
  </style>
    <script th:inline="javascript">
  
  var pagemaker = /*[[${pageMaker}]]*/
	  	
		/* 페이징 */
	  	function pagination() {
			const $pagination = $('#pagination');
			const $ul = $('<ul class="pagination">').appendTo($pagination);
			if (pagemaker.prev == true) {
				const $li = $('<li>').appendTo($ul);
				$('<a>').attr('href', '/order/reviewList?nowPage=' + (pagemaker.start - 1) + '&amount=' + pagemaker.cri.amount).text("이전").appendTo($li);
			}
			for (let i = pagemaker.start; i <= pagemaker.end; i++) {
				const $li = $('<li>').appendTo($ul);
				$('<a>').attr('href', '/order/reviewList?nowPage=' + i + '&amount=' + pagemaker.cri.amount).text(i).appendTo($li);
				if (i == pagemaker.nowPage)
					$li.attr('class', 'active');
			}
			if (pagemaker.next == true) {
				const $li = $('<li>').appendTo($ul);
				$('<a>').attr('href', '/order/reviewList?nowPage=' + (pagemaker.end + 1) + '&amount=' + pagemaker.cri.amount).text("다음").appendTo($li);
			}
	  	}
  
  	function reviewUpdate(hno) {
		const $form = $('<form>').attr('method','get').attr('action','/order/reviewUpdate').appendTo($('body'));
		$('<input>').attr('type','hidden').attr('name','hno').val(hno).appendTo($form);
		$form.submit();
	}
  	
  	function reviewDelete(hno) {
		const $form = $('<form>').attr('method','post').attr('action','/order/reviewDelete').appendTo($('body'));
		$('<input>').attr('type','hidden').attr('name','hno').val(hno).appendTo($form);
		$form.submit();
	}
  	
  	$(function() {
		/* $('.moveReviewUpdate').click(function() {			
			if(confirm("수정 페이지로 이동하시겠습니까?"))
				reviewUpdate();
		});
		$('.moveReviewDelete').click(function() {			
			if(confirm("후기를 삭제할까요?"))
				reviewDelete();
		}); */
		/* 페이징 실행 */
		pagination();
		
		const moveReviewUpdate = document.getElementsByClassName('moveReviewUpdate');
		const moveReviewDelete = document.getElementsByClassName('moveReviewDelete');
		
		
		for(let i=0; i<moveReviewUpdate.length; i++) {
			moveReviewUpdate[i].addEventListener('click', function(e){
			  if(confirm("수정 페이지로 이동하시겠습니까?")) {
				let hno = this.dataset.hno;
			  	reviewUpdate(hno);
			  }
			});
		}
		
		for(let i=0; i<moveReviewDelete.length; i++) {
			moveReviewDelete[i].addEventListener('click', function(e){
			  if(confirm("후기를 삭제하시겠습니까?")) {
				let hno = this.dataset.hno;
			  	reviewDelete(hno);
			  }
			});
		}
  	});
  </script>
<body>
<div id="wrapper">
	<header th:replace="fragments/common::header"></header>
  <h1>후기 목록</h1>
  <div class="wrapper">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>번호</th>
        <th>이미지</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성일</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    	<tr th:each="hugis : ${hugi}">
	        <td class="hno" th:text="${hugis.hno}"></td>
			<td>
				<img th:src="${hugis.himg}" width="100px" height="100px"/>
			</td>
	        <td th:text="${hugis.htitle}">
	        </td>
          <td th:text="${hugis.hcontent}"></td>
          <td th:text="${hugis.hregday}"></td>
	        <td>
		        <button class="btn btn-primary moveReviewUpdate" th:data-hno="${hugis.hno}">수정</button>
		        <br>
		        <button class="btn btn-primary moveReviewDelete" th:data-hno="${hugis.hno}">삭제</button>
	        </td>
    	</tr>
    </tbody>
  </table>
  <div id="pagination" style="display:flex; justify-content:center;">
  </div>
</div>
</div>
<footer th:replace="fragments/common::footer"></footer>
<script src="/js/index.js"></script>
</body>
</html>