<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>체크코드 확인</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/common.css">
<link rel="icon" href="/image/favicon.png">
<style>
  body {
  background: url('/image/bg.png');
  }
	#page {
	  display: flex;
	  justify-content: center;
      text-align: start;
	}
</style>
<script th:inline="javascript">
	const msg = /*[[${msg}]]*/;
	$(document).ready(function() {
		
		if(msg!=null) {
			alert(msg);
		}
	});
</script>
</head>
<body>
<div id="page">
	<div id="main">
		<section id="section">
			<form id="checkcodeJoin" method="post" action="/general/checkcode">
				<div>
					<h1>체크코드 확인</h1>
					<div class="form-group">
						<label for="checkcode">체크코드</label>
						<input id="checkcode" type="text" name="checkcode" class="form-control">
						<span class="helper-text" id="checkcode_msg"></span>
					</div>
					<button class="btn btn-primary">가입 완료</button>
				</div>
			</form>
		</section>
	</div>
</div>
</body>
</html>