<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head">
</head>
  <script type="text/javascript">
  	$(document).ready(function() {
	  	const $form = $('was-validated');
  		
  	})
  </script>
  <style>
    body {
  background: url('/image/bg.png');
  }
      .wrapper {
            display: flex;
      justify-content: center;
      text-align: center;
    }
  </style>
<body>
<h1>회원 정보 수정</h1>
  <div class="wrapper">
  <form action="/mypage/checkPassword" method="post" class="was-validated">
  <div class="mb-3">
    <label for="pw" class="form-label">비밀번호 확인</label>
    <input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호 확인" required>
  </div>
  <button type="submit" class="btn btn-primary">확인</button>
</form>
</div>
<script src="/js/index.js"></script>
</body>
</html>