<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>체크코드 확인</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="./../common.css">
<style>
	#page {
		position:absolute;
    left: 35%;
	}
</style>
</head>
<body>
<div id="page">
	<div id="main">
		<section id="section">
			<!--  bootstrap alert  -->
			<div class="alert alert-warning" id="msg_div" style="display:none;">
  				<strong>확인! </strong><span th:text="${msg}" ></span>
			</div>
			<form id="check_join_form" method="post" action="/general/checkcode">
				<div>
					<h1>체크코드 확인</h1>
					<div class="form-group">
						<label for="checkcode">체크코드</label>
						<input id="checkcode" type="text" name="checkcode" class="form-control">
						<span class="helper-text" id="checkcode_msg"></span>
					</div>
					<button class="btn btn-primary">가입 완료</button>
				</div>
			</form>
		</section>
	</div>
</div>
</body>
</html>