<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="icon" href="/image/favicon.png">
  <script src="/js/check.js"></script>
  <style>
    h1 {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 50px;
    }
    #join {
    float: right;
    }
    .form-control {
      width: 400px;
      margin-bottom: 10px;
    }
    .was-validated {
      position:absolute;
      left: 34%;
    }
    #address {
      margin-bottom: 20px;
    }
    /* 입력값 체크 성공, 실패 메시지에 대한 클래스*/
	.success { 
		color: blue; 
		font-size: 0.75em; 
	}
	.fail { 
		color: red; 
		font-size: 0.75em; 
	}
  </style>
  <title>기업 회원 가입</title>
</head>
<body>
  <div class="wrap">
    <h1>기업 회원 가입</h1>
  <form action="/general/corpJoin" method="post" class="was-validated">
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">기업명</label>
      <input type="text" class="form-control" id="name" placeholder="기업명" name="corpName" required>
      <span id="name_msg"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="corpnum" class="form-label">사업자등록번호</label>
      <input type="text" class="form-control" id="corpnum" placeholder="사업자등록번호" name="corpNum" required>
      <span id="corpnum_msg"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="id" class="form-label">아이디</label>
      <input type="text" class="form-control" id="id" placeholder="아이디" name="id" required>
      <span id="id_msg"></span>
    </div>
    <div class="mb-3">
      <label for="pw" class="form-label">비밀번호</label>
      <input type="password" class="form-control" id="pw" placeholder="비밀번호" name="pw" required>
      <span id="pw_msg"></span>
    </div>
    <div class="mb-3">
      <label for="pw2" class="form-label">비밀번호 확인</label>
      <input type="password" class="form-control" id="pw2" placeholder="비밀번호 확인" required>
      <span id="pw2_msg"></span>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input type="email" class="form-control" id="email" placeholder="이메일" name="email" required>
      <span id="email_msg"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="address"  class="form-label">주소</label><br>
      <button type="button" class="btn btn-secondary" onclick="execDaumPostcode()" style="margin-bottom: 20px;">우편번호 검색</button>
      <input type="text" class="form-control" id="zipcode" placeholder="우편번호" name="zipcode" required>
      <input type="text" class="form-control" id="address1" placeholder="도로명주소" name="address1" required>
      <input type="text" class="form-control" id="address2" placeholder="상세주소" name="address2" required>
    </div>
    <button type="submit" class="btn btn-primary" id="join">회원가입</button>
  </form>
</div>
<script>
		/* $('#id').focusout(function() {
			if(idCheck()==false)
				return false;
			$.ajax("/user/overlap/id?id="+$('#id').val())
				.done(()=>$('#id_msg').text('사용가능한 아이디입니다').attr('class','success'))
				.fail(()=>$('#id_msg').text('사용중인 아이디입니다').attr('class','fail'));
		});
		
		$('#pw').focusout(pwCheck);
		$('#pw2').focusout(pw2Check);
		$('#name').focusout(nameCheck);
		$('#email').focusout(emailCheck);
		$('#corpnum').focusout(corpnumCheck);
		
		$('#join').click(function() {
			if((idCheck() && pwCheck() && pw2Check() && emailCheck() && nameCheck() && corpnumCheck())==false)
				return false;
			
			$.ajax("/user/overlap/id?id="+$('#id').val())
				.done(()=>{
					$('#join_form').submit();
				})
			.fail(()=>$('#id_msg').text('사용중인 아이디입니다').attr('class','fail'));
		}); */
		

		//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		function execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					let roadAddr = data.roadAddress; // 도로명 주소 변수
					let extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('zipcode').value = data.zonecode;
					document.getElementById("address1").value = roadAddr;
				}
			}).open();
		}
	</script>
</body>
</html>