<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="icon" href="/image/favicon.png">
  <title>아이디 찾기</title>
  <style>
    h1 {
      text-align: center;
    }
    .wrapper {
      position:absolute;
      left: 30%;
    }
    .form-control {
      width: 400px;
    }
  </style>
  <script>
	$(document).ready(function() {
		$('#findUserId').click(function() {
			$.ajax("/user/find/id?email=" + $('#email').val() + "&name=" + $('#name').val())
				.done(result => {
					$('#view_id').css('display', 'block');
					$('#fail_find_id').css('display', 'none');
					$('#show_find_id').text(result);
				})
				.fail((response)=>{
					$('#view_id').css('display', 'none');
					$('#fail_find_id').css('display', 'block');
				}).always(()=>{
					// 성공, 실패 상관없이 실행해야 되는 코드
					$('#name').val("");
					$('#email').val("");
				});
		});
	});
	</script>
</head>
<body>
  <h1>아이디 찾기</h1>
  <form>
	  <div class="mb-3">
	    <input type="text" class="form-control" id="name" placeholder="이름입력" name="name" required>
	    <br>
	    <input type="email" class="form-control" id="email" placeholder="이메일입력" name="email" required>
	  </div>
	  <button type="button" class="btn btn-primary" id="findUserId">아이디 찾기</button>
  </form>
  <div class="mb-3">
  	<p id="view_id" style="display: none">
  		가입하신 아이디는
  		<span id="show_find_id"></span>
  		<span>입니다</span>
  	</p>
  	<p id="fail_find_id" style="display: none">
  		아이디를 찾을 수 없습니다
  	</p>
  </div>
</body>
</html>