<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head">
</head> 
  <title>아이디 찾기</title>
  <style>
    body {
  background: url('/image/bg.png');
  }
    h1 {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 50px;
    }
    .formwrap {
	display: flex;
	justify-content: center;
	text-align: center;
    }
    .form-control {
      width: 300px;
   }
    .btn {
    height: 100px;
    margin-left: 20px;
    }
  </style>
  <script>
	$(document).ready(function() {
		$('#findUserId').click(function() {
			$.ajax("/user/find/id?email=" + $('#email').val() + "&name=" + $('#name').val())
				.done(result => {
					$('#view_id').css('display', 'block').css('text-align','center');
					$('#fail_find_id').css('display', 'none');
					$('#show_find_id').text(result);
				})
				.fail((response)=>{
					$('#view_id').css('display', 'none');
					$('#fail_find_id').css('display', 'block').css('text-align','center');
				}).always(()=>{
					// 성공, 실패 상관없이 실행해야 되는 코드
					$('#name').val("");
					$('#email').val("");
				});
		});
	});
	</script>
<body>
  <h1>아이디 찾기</h1>
  <form class="formwrap">
	  <div class="mb-3">
	    <input type="text" class="form-control" id="name" placeholder="이름입력" name="name" required>
	    <br>
	    <input type="email" class="form-control" id="email" placeholder="이메일입력" name="email" required>
	  </div>
	   <button type="button" class="btn btn-primary" id="findUserId">아이디 찾기</button>
  </form>
  
  <div class="mb-3">
  	<p id="view_id" style="display: none">
  		가입하신 아이디는
  		<span id="show_find_id"></span>
  		<span>입니다</span>
  	</p>
  	<p id="fail_find_id" style="display: none">
  		아이디를 찾을 수 없습니다
  	</p>
  </div>
<script src="/js/index.js"></script>
</body>
</html>