<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head">
</head>
  <style>
    body {
  background: url('/image/bg.png');
  }
    h1 {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 50px;
    }
    .wrapper {
      position:absolute;
      left: 35%;
    }
    .form-control {
      width: 400px;
      margin-bottom: 20px;
    }
  </style>
  <script>
  	$(document).ready(function() {
		$('#reset_password').click(function() {
			$.ajax("/user/find/password?email=" + $('#email').val() + "&id=" + $('#id').val())
				.done(result => {
					$('#reset_success').css('display', 'block');
					$('#reset_fail').css('display', 'none');
				})
				.fail((response)=>{
					$('#reset_success').css('display', 'none');
					$('#reset_fail').css('display', 'block');
				}).always(()=>{
					// 성공, 실패 상관없이 실행해야 되는 코드
					$('#id').val("");
					$('#email').val("");
				});
		});
	});
  	
  </script>
<body>
<header th:replace="fragments/common :: header">
</header>
  <h1>비밀번호 찾기</h1>
  <div class="wrapper">
    <input type="text" class="form-control" id="id" placeholder="아이디" name="id" required>
    <input type="email" class="form-control" id="email" placeholder="이메일" name="email" required>
  <button type="button" class="btn btn-primary" id="reset_password">비밀번호 찾기</button>
  <div class="mb-3">
  	<p id="reset_success" style="display: none">
  		<span>해당 이메일로 임시 비밀번호를 발급했습니다 로그인 후 비밀번호를 변경해주세요!</span>
  	</p>
  	<p id="reset_fail" style="display: none">
  		<span>이메일 혹은 아이디를 확인해주세요.</span>
  	</p>
  </div>
</div>
<footer th:replace="fragments/common :: footer">
</footer>
<script src="/js/index.js"></script>
</body>
</html>