<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./../common.css">
  <style>
    h1 {
      text-align: center;
    }
    .btn {
      width: 180px;
      height: 250px;
    }
    .wrapper {
      position:absolute;
      left: 39%;
    }
    .memberbtn {
      margin-right: 40px;
    }
  </style>
  <title>회원 가입 선택</title>
</head>
<body>
  <h1>회원 가입</h1>
  <form class="wrapper">
  <button type="submit" class="btn btn-primary memberbtn" formaction="/general/memberJoin">일반 회원 가입 버튼</button>
  <button type="submit" class="btn btn-primary" formaction="/general/corpJoin">기업 회원 가입 버튼</button>
</form>
</body>
</html>