<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head">
</head>
  <style>
    body {
  background: url('/image/bg.png');
  }
    h1 {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 50px;
    }
    .btn {
      width: 180px;
      height: 250px;
    }
    .wrapper {
      position:relative;
      left: 34%;
    }
    .memberbtn {
      margin-right: 40px;
    }

  </style>
<body>
  <h1>회원 가입</h1>
  <form class="wrapper">
  <button type="submit" class="btn btn-primary memberbtn" formaction="/general/memberJoin">일반 회원 가입 버튼</button>
  <button type="submit" class="btn btn-primary corpbtn" formaction="/general/corpJoin">기업 회원 가입 버튼</button>
</form>
<script src="/js/index.js"></script>
</body>
</html>