<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head">
</head>
<style>
body {
background: url('/image/bg.png');
}
 h1 {
 margin-top: 50px;
 }
  ul li {
    list-style: none;
    display: inline-block;
  }
  ul li a {
    text-decoration: none;
  }
  .wrapper {
    position: absolute;
    left: 35%;
  }
  .form-control {
    width: 400px;
  }
  .btn-primary {
    margin-bottom: 20px;
  }
  ul li a {
    margin: 15px;
  }
</style>
<script th:inline="javascript">
	/* 로그인 실패 메시지 */
	const login = /*[[${login}]]*/
	
	/*  */
	const msg = /*[[${msg}]]*/
	if(login!=null) {
		alert(login);
	}
	if(msg!=null) {
		alert(checklogin);
	}
</script>
<body>
<header th:replace="fragments/common :: header">
</header>
<h1>로그인</h1>
<div class="wrapper">
	<form action="/general/login" method="post">
		<div class="mb-3 mt-3">
			<label for="id" class="form-label">아이디</label> <input type="text"
				class="form-control" id="id" placeholder="아이디" name="id">
		</div>
		<div class="mb-3">
			<label for="pw" class="form-label">비밀번호</label> <input
				type="password" class="form-control" id="pw" placeholder="비밀번호"
				name="pw">
		</div>
		<button type="submit" id="login" class="btn btn-primary login">로그인</button>
		<div>
			<ul>
				<li><a href="/general/findId">아이디 찾기</a></li>
				<li><a href="/general/findPassword">비밀번호 찾기</a></li>
				<li><a href="/general/joinSelect">회원가입</a></li>
			</ul>
		</div>
	</form>
</div>
<footer id="footer" th:replace="fragments/common :: footer">
</footer>
</body>
</html>