<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ecorea.dao.CartDao">
	<!-- 장바구니 list 출력 -->
	<resultMap type="com.project.ecorea.dto.CartDto$CartProduct" id="productMap">
		<id column="pno" property="pno"/>
		<result column="pname" property="cartpname"/>
		<result column="cartcnt" property="cartcnt"/>
		<result column="price" property="price"/>
		<result column="pthumbnail" property="pthumbnail"/>	
	</resultMap>

	<resultMap type="com.project.ecorea.dto.CartDto$CartList" id="mapForCartList">
		<result column="corp_name" property="corpName"/>
		<collection property="cartProduct" javaType="java.util.ArrayList" resultMap="productMap"></collection>		
	</resultMap>

	<select id="findByMemberId" resultMap="mapForCartList">
		select c.pno, c.cartcnt, p.price, p.pname, #{imagePath} || p.pthumbnail as pthumbnail, e.corp_name 
		from cart c 
    		inner join product p 
        		on(c.pno=p.pno)
    		inner join corp e
        		on(p.corp_id=e.corp_id)
		where c.member_id=#{memberId}
	</select>
	
	<!-- 장바구니 상품 한개 select -->
	<select id="findByMemberIdAndPno" resultType="com.project.ecorea.entity.Cart">
		select * from cart where member_id=#{memberId} and pno=#{pno}
	</select>
	
	<!-- 장바구니 상품개수 증가 -->	
	<update id="updateCntPlus">
		update cart set cartcnt=cartcnt+#{cartcnt} where member_id=#{memberId} and pno=#{pno}
	</update>
	
	<!-- 장바구니 상품개수 감소 -->
	<update id="updateCntMinus">
		update cart set cartcnt=cartcnt-#{cartcnt} where member_id=#{memberId} and pno=#{pno}
	</update>
	
	<!-- 장바구니 상품 한 개 삭제 -->
	<delete id="deleteOne">
		delete from cart where member_id=#{memberId} and pno=#{pno} 
	</delete>
	
	<!-- 장바구니 선택한 상품 삭제 -->
	<delete id="deleteSelected">
		delete from cart where member_id=#{memberId} and pno in
		<foreach collection="pnos" item="pno" open="(" separator="," close=")">
			#{pno}
		</foreach>
	</delete>
	
	<!-- 장바구니 상품 전체 삭제 -->
	<delete id="deleteAll">
		delete from cart where member_id=#{memberId}
	</delete>
	
	<!-- 장바구니에 상품 담기 -->
	<insert id="saveOneProduct">
		insert into cart values(#{memberId}, #{pno}, #{cartcnt}, #{cartprice}, #{cartpname})
	</insert>
</mapper>