<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ecorea.dao.ChallengeDao">

	<!-- 기업 회원 : 챌린지 등록 -->
	<insert id="challengeUpload" useGeneratedKeys="true" keyProperty="cno">
		<selectKey keyProperty="cno" order="BEFORE" resultType="int">
			select challenge_seq.nextval from dual
		</selectKey>
		insert into challenge values(#{cno}, #{cname}, #{cgoal}, #{cpoint}, #{cregday}, #{cstartday}, #{cendday}, #{cthumbnail}, #{ccontent}, #{cjoincnt}, #{corpId})
	</insert>
	
	<!-- 기업 회원 : 챌린지 수정 -->
	<update id="challengeUpdate">
		update challenge
		<trim suffixOverrides="," prefix="set">
			<if test="cgoal!=null">cgoal=#{cgoal},</if>
			<if test="cpoint!=null">cpoint=#{cpoint},</if>
			<if test="cthumbnail!=null">cthumbnail=#{cthumbnail},</if>
			<if test="ccontent!=null">ccontent=#{ccontent},</if>
			<if test="cjoincnt!=null">cjoincnt=#{cjoincnt},</if>
		</trim>
		where corp_id=#{corpId} and cno=#{cno}
	</update>

	<!-- <resultMap type="com.project.ecorea.dto.ChallengeDto$ChallengeList" id="ChallengeList">
		<id column="cno" property="cno"/>
		<result column="cname" property="cname"/>
		<result column="cregday" property="cregday"/>
		<result column="cstartday" property="cstartday"/>
		<result column="cendday" property="cendday"/>
		<result column="cthumbnail" property="cthumbnail"/>
		<result column="cgoal" property="cgoal"/>
		<result column="cjoincnt" property="cjoincnt"/>
		<result column="corpname" property="corpname"/>
	</resultMap> -->
	
	<select id="findByCorpName" resultType="com.project.ecorea.dto.ChallengeDto$ChallengeList">
		select c.corp_name as corpname, ch.cno, ch.cname, ch.cregday, ch.cstartday, ch.cendday, ch.cthumbnail, ch.cgoal, ch.cjoincnt
		from challenge ch
    		left join corp c
        		on(c.corp_id=ch.corp_id)
        order by ch.cno desc
	</select>

	<select id="findByChallengeAll" resultType="challenge">
		select * from challenge order by cno desc
	</select>

	<select id="findByCorpId" resultType="challenge">
		select * from challenge where corp_id=#{id} order by cno desc
	</select>

	<select id="findBycno" resultType="com.project.ecorea.dto.ChallengeDto$ChallengeDetail">
		select cno,cname,cgoal,cstartday,cendday,cthumbnail,ccontent,cjoincnt, 
			(select count(distinct p.member_id) from chprove p) as applycnt 
		from challenge
		where cno=#{cno}
	</select>

</mapper>