<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ecorea.dao.ChProveDao">
	<!-- 일반회원 챌린지 list 출력 -->
	<resultMap type="com.project.ecorea.dto.ChProveDto$Prove" id="proveMap">
		<id column="cpno" property="cpno"/>
		<result column="cpimg" property="cpimg"/>
		<result column="cptitle" property="cptitle"/>
		<result column="cpregday" property="cpregday"/>
	</resultMap>

	<resultMap type="com.project.ecorea.dto.ChProveDto$ProveList" id="mapForProveList">
		<id column="cno" property="cno"/>
		<result column="cname" property="cname"/>
		<collection property="proves" javaType="java.util.ArrayList" resultMap="proveMap"></collection>		
	</resultMap>

	<select id="findByMemberId" resultMap="mapForProveList">
		select c.cno, c.cname, p.cpno, p.cptitle, p.cpregday, #{imagePath} || p.cpimg as cpimg
		from chprove p 
    		left join challenge c 
        		on(c.cno=p.cno)
		where p.member_id=#{memberId}
	</select>
	
	<!-- 챌린지 인증 등록 -->
	<insert id="saveChProve" useGeneratedKeys="true" keyProperty="cpno">
		<selectKey keyProperty="cpno" order="BEFORE" resultType="int">
			select chprove_seq.nextval from dual
		</selectKey>
		insert into chprove values(#{cpno},#{cno},#{cptitle},#{cpcontent},#{cpregday},#{cpimg},#{memberId})
	</insert>
	
	<!-- 챌린지 인증 삭제 -->
	<delete id="deleteByMemberIdAndCpno">
		delete from chprove where member_id=#{memberId} and cpno=#{cpno}
	</delete>
	
	<!-- 챌린지 신청 취소 -->
	<delete id="deleteByMemberIdAndCno">
		delete from chprove where member_id=#{memberId} and cno=#{cno}
	</delete>
</mapper>