<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ecorea.dao.HugiDao">

	<!-- 후기 목록 출력 -->
	<select id="findByPno" resultType="com.project.ecorea.dto.HugiDto$HugiList">
		select h.* from hugi h inner join jumun j on h.jno=j.jno where j.pno=#{pno} order by hno
	</select>

</mapper>