<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ecorea.dao.HugiDao">

	<!-- 후기 목록 출력 -->
	<select id="findByPno" resultType="com.project.ecorea.dto.HugiDto$HugiList">
		select h.* from hugi h inner join jumun j on h.jno=j.jno where j.pno=#{pno} order by hno
	</select>
	
	<!-- 상품 상세 : 후기 개수 -->
	<select id="getProductDetailTotal" resultType="int">
		select count(*) from hugi h inner join jumun j on h.jno=j.jno
		<if test="pno != null">where pno = #{pno}</if>
	</select>
	
	<!-- 상품 상세 : 후기 목록 (페이징) -->
	<select id="productDetailHugiFindbyPno" resultType="com.project.ecorea.dto.HugiDto$HugiList">
	   	select hno, htitle, hregday, hwriter, hcontent, himg from(
	   		select row_number() over(order by hno desc) rn, hno, htitle, hregday, hwriter, hcontent, himg
	   		from hugi h inner join jumun j on h.jno=j.jno where <![CDATA[rownum <= #{nowPage} * #{amount}]]> and j.pno=#{pno})
   		where <![CDATA[rn > (#{nowPage} -1) * #{amount}]]>
	</select>

	<select id="findByhwriter" resultType="com.project.ecorea.dto.HugiDto$HugiList">
		select h.* from hugi h inner join jumun j on h.jno=j.jno where h.hwriter=#{loginId} order by hno
	</select>
	
	<delete id="deleteByHno">
		delete from hugi where hno=#{hno}
	</delete>
	
	<insert id="reviewSave" useGeneratedKeys="true" keyProperty="hno">
		<selectKey keyProperty="hno" order="BEFORE" resultType="int">
			select hugi_seq.nextval from dual
		</selectKey>
		insert into hugi
		values(#{hno}, #{jno}, #{htitle}, #{hregday}, #{hwriter}, #{hcontent}, #{himg})
	</insert>
	
	<update id="updateByReview">
		update hugi
		<trim suffixOverrides="," prefix="set">
			<if test="htitle!=null">htitle=#{htitle},</if>
			<if test="hcontent!=null">hcontent=#{hcontent},</if>
			<if test="himg!=null">himg=#{himg},</if>
		</trim>
		where hno=#{hno}
	</update>
	
	<select id="findByHno" resultType="hugi">
		select * from hugi where hno=#{hno}
	</select>
	
</mapper>