<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ecorea.dao.ProductDao">

	<!-- 카테고리별 상품 개수 -->
	<select id="productCnt" resultType="int">
		select /*+ index_ffs(product product_pk_pno) */ count(pno) from product
		<where>
			<if test="catecode!=null">catecode=#{catecode}</if>
		</where>
	</select>
	
	<!-- 페이징 -->
	<select id="productListPaging" resultType="com.project.ecorea.dto.ProductDto$productList">
		<![CDATA[
			(select * from
			    (select rownum as rnum, newdesc.* from
			        (select /*+ index_desc(product product_pk_pno)*/ pno, catecode, cname, pname, price, #{imagePath} || pthumbnail as pthumbnail from product_dto where catecode=#{catecode}) newdesc
			    where catecode=#{catecode} and rownum<=#{lastRnum})
			where rnum>=#{firstRnum})
		]]>
	</select>
		
	<!-- 상품 상세 페이지 -->
	<select id="findByPno" resultType="product">
		select catecode, pno, (select c.corp_name from product p inner join corp c on p.corp_id = c.corp_id where pno=#{pno} and rownum=1) as cname, pthumbnail, pname, pcontent, price 
		from product p where pno=#{pno} and rownum=1
	</select>
	
</mapper>