<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ecorea.dao.ProductDao">
	<!-- 정렬 -->
	<sql id="sort">
		<if test="sort == ''">
			order by pno desc
		</if>
		<if test="sort == 'newest'">
			order by pno desc
		</if>
		<if test="sort == 'lowprice'">
			order by price
		</if>
		<if test="sort == 'highprice'">
			order by price desc
		</if>
	</sql>

	<!-- 전체 상품 개수 -->
	<select id="getTotal" resultType="int">
		select count(*) from product_dto
	</select>
	
	<!-- 카테고리별 상품 개수 -->
	<select id="getCategoryTotal" resultType="int">
		select count(*) from product_dto
			<if test="catecode != null and !catecode.equals('')">where catecode = #{catecode}</if>
	</select>

	<!-- 상품 목록 출력 -->
	<select id="productList" resultType="com.project.ecorea.dto.ProductDto$productList">
		select /*+ index_desc(product product_pk_pno)*/ catecode, pno, cname, pthumbnail, pname, price
		from product_dto
	</select>
	
	<!-- 상품 목록 (페이징 적용) -->
	<select id="productPagingList" resultType="com.project.ecorea.dto.ProductDto$productList">
		select catecode, pno, cname, pthumbnail, pname, price from(
			select catecode, pno, cname, pthumbnail, pname, price, row_number() over(<include refid="sort" />) rn
            from product_dto where <![CDATA[rownum <= #{nowPage} * #{amount}]]> <if test="catecode != null and !catecode.equals('')">and catecode=#{catecode}</if>)
       	where <![CDATA[rn > (#{nowPage} -1) * #{amount}]]>
	</select>
		
	<!-- 상품 상세 페이지 -->
	<select id="findByPno" resultType="product">
		select catecode, pno, (select c.corp_name from product p inner join corp c on p.corp_id = c.corp_id where pno=#{pno} and rownum=1) as cname, pthumbnail, pname, pcontent, price, pstock 
		from product p where pno=#{pno} and rownum=1
	</select>

	<!-- 기업 회원 - 상품 등록 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="pno">
		<selectKey keyProperty="pno" order="BEFORE" resultType="int">
			select product_seq.nextval from dual
		</selectKey>
		insert into product
		values (#{pno}, #{catecode}, #{price}, #{pname}, #{pstock}, #{pcontent}, #{pthumbnail}, #{pordercnt}, #{pregday}, #{corpId})
	</insert>
	
	<!-- 기업 회원 - 등록된 상품 목록 출력 -->

	<resultMap type="com.project.ecorea.dto.ProductDto$CorpProductList" id="regProduct">
		<id column="pno" property="pno"/>
		<result column="pthumbnail" property="pthumbnail"/>
		<result column="pname" property="pname"/>
		<result column="corp_id" property="corpId"/>
	</resultMap>
	
	<select id="findByCorpId" resultMap="regProduct">
		select pno, price, pname, pstock, pcontent, #{imagePath} || pthumbnail as pthumbnail, pordercnt, pregday, corp_id, catecode from product where corp_id=#{corpId}
	</select>
	

	<!-- 기업 회원 - 등록된 상품 상세정보 출력 -->
	<select id="findByCorpIdAndPno" resultType="com.project.ecorea.dto.ProductDto$ProductDetailForUpdate">
		select pno, catecode, price, pname, pstock, pcontent, pthumbnail, pordercnt, pregday, corp_id as corpId from product where corp_id=#{corpId} and pno=#{pno}
	</select>
	
	<!-- 기업 회원 - 상품 상세정보 수정 -->
	<update id="updateProduct">
		update product
		<trim suffixOverrides="," prefix="set">
			<if test="pname!=null">pname=#{pname},</if>
			<if test="price!=null">price=#{price},</if>
			<if test="pstock!=null">pstock=#{pstock},</if>
			<if test="pthumbnail!=null">pthumbnail=#{pthumbnail},</if>
			<if test="pcontent!=null">pcontent=#{pcontent},</if>		
		</trim>
		where corp_id=#{corpId} and pno=#{pno}
	</update>
	
	<!-- 기업 회원 - 상품 삭제 -->
	<delete id="deleteProduct">
		delete from product where corp_id=#{corpId} and pno=#{pno}
	</delete>
	
	<!-- 일반회원 - 구매후 제품 수량 변경 -->
	<update id="updateStock">
		update product set pstock=pstock-#{cnt} where pno=#{pno}		
	</update>
</mapper>