<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ecorea.dao.QnaDao">

	<!-- 내부 표기 변환 resultMap -->
	<resultMap type="com.project.ecorea.dto.QnaDto$AnswerDto" id="namecheckAnswer">
		<result property="corpId" column="corp_id"/>
		<result property="memberId" column="member_id" />
	</resultMap>
	
	<resultMap type="com.project.ecorea.dto.QnaDto$QuestionDto" id="namecheckQuestion">
		<result property="corpId" column="corp_id"/>
		<result property="memberId" column="member_id" />
	</resultMap>
	
	<!-- 문의 개수 -->
	<select id="getTotal" resultType="int">
		select count(*) from qna_q
	</select>
	
	<!-- 상품 상세 : 문의 개수 -->
	<select id="getProductDetailTotal" resultType="int">
		select count(*) from qna_q
		<if test="pno != null">where pno = #{pno}</if>
	</select>
	
	<!-- 일반 회원 : 문의 개수 -->
	<select id="getMemberTotal" resultType="int">
		select count(*) from qna_q
		<if test="memberId != null">where member_id = #{memberId}</if>
	</select>
	
	<!-- 기업 회원 : 문의 개수 -->
	<select id="getCorpTotal" resultType="int">
		select count(*) from qna_q inner join product on qna_q.pno=product.pno
		<if test="corpId != null">where corp_id = #{corpId}</if>
	</select>
	
	<!-- 상품 상세 : 문의 목록 -->
	<select id="questionFindByPno" resultType="com.project.ecorea.dto.QnaDto$QuestionDto" resultMap="namecheckQuestion">
		select qqno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id
		from QNA_Q where pno=#{pno}
	</select>
	
	<!-- 상품 상세 : 문의 답변 목록 -->
	<select id="answerFindByPno" resultType="com.project.ecorea.dto.QnaDto$AnswerDto" resultMap="namecheckAnswer">
		select qqno, qano, corp_id, qacontent from QNA_A where pno=#{pno}
	</select>
	
	<!-- 상품 상세 : 문의 작성 -->
	<insert id="uploadQuestion" useGeneratedKeys="true" keyProperty="qqno">
		<selectKey keyProperty="qqno" order="BEFORE" resultType="int">
			select qnaq_seq.nextval from dual
		</selectKey>
		insert into qna_q(qqno, pno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id) 
		values(#{qqno}, #{pno}, #{qqcategory}, #{qqtitle}, #{qqcontent}, #{qqimg}, #{qqregday}, #{memberId})
	</insert>
	
	<!-- 답변 여부 -->
	<select id="isAnswer" resultType="int">
		select count(*) from qna_a a inner join qna_q q on a.qqno=q.qqno where a.qqno=#{qqno}
	</select>
	
	<!-- 상품 상세 : 문의 목록 (페이징) -->
	<select id="productDetailQuestionFindbyPno" resultType="com.project.ecorea.dto.QnaDto$QuestionDto">
	   	select qqno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id from(
	   		select qqno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id, row_number() over(order by qqno desc) rn
	   		from qna_q where <![CDATA[rownum <= #{nowPage} * #{amount}]]> and pno=#{pno})
   		where <![CDATA[rn > (#{nowPage} -1) * #{amount}]]>
	</select>
	
	<!-- 일반 회원 마이페이지 : 문의 목록 (페이징) -->
   	<select id="memberQuestionFindById" resultType="com.project.ecorea.dto.QnaDto$QuestionDto" parameterType="map" resultMap="namecheckQuestion">
	   	select qqno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id from(
	   		select qqno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id, row_number() over(order by qqno desc) rn
	   		from qna_q where <![CDATA[rownum <= #{cri.nowPage} * #{cri.amount}]]> and member_id=#{loginId})
	   	where <![CDATA[rn > (#{cri.nowPage} -1) * #{cri.amount}]]>
   	</select>
   	
   	<!-- 기업 회원 마이페이지 : 문의 목록 (페이징) -->
   	<select id="corpQuestionFindById" resultType="com.project.ecorea.dto.QnaDto$QuestionDto" parameterType="map" resultMap="namecheckQuestion">
	   	select qqno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id from(
	   		select qqno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id, row_number() over(order by qqno desc) rn
	   		from QNA_Q inner join product on qna_q.pno=product.pno
	   		where <![CDATA[rownum <= #{cri.nowPage} * #{cri.amount}]]> and corp_id=#{loginId})
	   	where <![CDATA[rn > (#{cri.nowPage} -1) * #{cri.amount}]]>
   	</select>
	
	<!-- 일반 회원 마이페이지 : 문의 목록 
	<select id="memberQuestionFindById" resultType="com.project.ecorea.dto.QnaDto$QuestionDto" resultMap="namecheckQuestion">
		select qqno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id
			from QNA_Q where member_id=#{memberId}
	</select>
	
	기업 회원 마이페이지 : 문의 목록 
	<select id="corpQuestionFindById" resultType="com.project.ecorea.dto.QnaDto$QuestionDto" resultMap="namecheckQuestion">
		select qqno, qqcategory, qqtitle, qqcontent, qqimg, qqregday, member_id
			from QNA_Q inner join product on qna_q.pno=product.pno where corp_id=#{corpId}
	</select>
	-->
	
	<!-- 일반 회원 마이페이지 : 문의 상세 -->
	<select id="memberQuestionFindByQqno" resultType="com.project.ecorea.dto.QnaDto$QuestionDto" resultMap="namecheckQuestion">
		select * from qna_q where qqno=#{qqno}
	</select>
	
	<!-- 일반 회원 마이페이지 : 문의 상세 답변 -->
	<select id="memberAnswerFindByQqno" resultType="com.project.ecorea.dto.QnaDto$AnswerDto" resultMap="namecheckAnswer">
		select * from qna_a where qqno=#{qqno}
	</select>
	
	<!-- 일반 회원 마이페이지 : 문의 수정 -->
	<update id="updateQuestion">
		update qna_q
		<trim suffixOverrides="," prefix="set">
			<if test="qqtitle!=null">qqtitle=#{qqtitle},</if>
			<if test="qqcontent!=null">qqcontent=#{qqcontent},</if> 
			<if test="qqimg!=null">qqimg=#{qqimg},</if>
		</trim>
		where member_id=#{memberId} and qqno=#{qqno}
	</update>
	
	<!-- 일반 회원 마이페이지 : 문의 삭제 -->
	<delete id="deleteQuestion">
		delete from qna_q where member_id=#{memberId} and qqno=#{qqno}
	</delete>
	
	<!-- 기업 회원 마이페이지 : 문의 상세 -->
	<select id="corpQuestionFindByQqno" resultType="com.project.ecorea.dto.QnaDto$QuestionDto" resultMap="namecheckQuestion">
		select * from qna_q where qqno=#{qqno}
	</select>
	
	<!-- 기업 회원 마이페이지 : 문의 상세 답변 -->
	<select id="corpAnswerFindByQqno" resultType="com.project.ecorea.dto.QnaDto$AnswerDto" resultMap="namecheckAnswer">
		select * from qna_a where qqno=#{qqno}
	</select>
	
	<!-- 기업 회원 마이페이지 : 문의 상세 답변 작성 -->
	<insert id="uploadAnswer" useGeneratedKeys="true" keyProperty="qano">
		<selectKey keyProperty="qano" order="BEFORE" resultType="int">
			select qnaa_seq.nextval from dual
		</selectKey>
		insert into qna_a(qano, qqno, pno, corp_id, qacontent)
		values(#{qano}, #{qqno}, #{pno}, #{corpId}, #{qacontent})
	</insert>
	
	<!-- 기업 회원 마이페이지 : 문의 상세 답변 수정 -->
	<update id="updateAnswer">
		update qna_a
		<trim prefix="set">
			<if test="qacontent!=null">qacontent=#{qacontent}</if> 
		</trim>
		where corp_id=#{corpId} and qano=#{qano}
	</update>
	
	<!-- 기업 회원 마이페이지 : 문의 상세 답변 삭제 -->
	<delete id="deleteAnswer">
		delete from qna_a where corp_id=#{corpId} and qano=#{qano}
	</delete>
	
</mapper>