<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head"></head>
  <style>
    h1 {
      text-align: center;
    }
    .btn {
      margin-left: 15px;
    }
    .updown {
      float: right;
    }
    .form-inline {
      float: right;
    }
    .form-control {
      width: 200px;
    }
    .btn-primary {
      float: right;
    }
    .wrapper {
      margin: 40px;
    }
    .certified {
      display: flex;
      margin-bottom: 5px;;
    }
  </style>
  <script>
  	// 챌린지 인증 삭제
  	function deleteOne() {
  		const result = confirm("인증글을 삭제하시겠습니까?");
  		if(result==true) {
  			const $form = $('<form>').attr('method','post').attr('action','/challenge/member/deleteOne').appendTo($('body'));
  	  		$('<input>').attr('type','hidden').attr('name','cpno').val($(this).attr('data-cpno')).appendTo($form);
  	  		$form.submit();
  		} 		
  	}
  	
  	// 챌린지 신청 취소
  	function cancel() {
  		const result = confirm("챌린지 신청을 취소하시겠습니까?");
  		if(result==true) {
  			const $form = $('<form>').attr('method','post').attr('action','/challenge/member/cancel').appendTo($('body'));
  			$('<input>').attr('type','hidden').attr('name','cno').val($(this).attr('data-cno')).appendTo($form);
  			$form.submit();
  		}
  	}	
  	
  	
  	
  	$(document).ready(function() {
  		$(".deleteOne").click(deleteOne);
  		$(".cancel").click(cancel);
  		
  		
  	});
  </script>
<body>
<div id="wrapper">
	<h1>나의 챌린지 목록</h1>
	<div th:each="applyList: ${applyList}" class="wrapper">
		<div class="certified">
            <h3 th:text="${applyList.cname}"></h3>
            <button type="button" class="btn btn-primary upload" th:onclick="|location.href='@{/challenge/member/challengeProveUpload(cno=${applyList.cno})}'|">인증하기</button>
            <button type="button" class="btn btn-secondary cancel" th:data-cno="${applyList.cno}">신청취소</button>
        </div>
        <div class="container">            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>이미지</th>
                        <th>인증내용</th>
                        <th>작성일</th>
                        <th>삭제</th>
                    </tr>
                </thead>
            </table>
        </div>
	</div>
    <div th:each="list: ${proveList}" class="wrapper">
        <div class="certified">
            <h3 th:text="${list.cname}"></h3>
            <button type="button" class="btn btn-primary upload" th:onclick="|location.href='@{/challenge/member/challengeProveUpload(cno=${list.cno})}'|">인증하기</button>
            <button type="button" class="btn btn-secondary cancel" th:data-cno="${list.cno}">신청취소</button>
        </div>
        <div class="container">            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>이미지</th>
                        <th>인증내용</th>
                        <th>작성일</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="prove: ${list.proves}">
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input cpno" value="" th:data-cpno="${prove.cpno}">
                                    <span th:text="${prove.cpno}"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                        	<img name="imagename" th:src="${prove.cpimg}" width="75px;">
                        </td>
                        <td th:text="${prove.cptitle}"></td>
                        <td th:text="${prove.cpregday}"></td>
                        <td>
                            <button type="button" class="btn btn-primary deleteOne" th:data-cpno="${prove.cpno}" formaction="">삭제</button>
                        </td>
                    </tr>           
                </tbody>
            </table>
        </div>
        <hr>
    </div>
</div>
<footer th:replace="fragments/common :: footer">
</footer>
<script src="/js/index.js"></script>
</body>
</html>