<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head"></head>
  <style>
  	* {box-sizing: border-box;}

	input[type=text], select, textarea {
	  width: 100%;
	  padding: 12px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  margin-top: 6px;
	  margin-bottom: 16px;
	  resize: vertical;
	}
	
	.container {
	  border-radius: 5px;
	  background-color: #f2f2f2;
	  padding: 20px;
	}
  </style>
  <script>
  	$(document).ready(function() {
  		const queryString = new URLSearchParams(location.search);
  		const cno = queryString.get('cno'); 
  		$("#cno").val(cno);
  	})
  </script>
<body>
<header th:replace="fragments/common :: header"></header>
<div id="wrapper">
  <h1>챌린지 인증 작성</h1>
  <div class="container">
    <form id="uploadForm" method="post" action="/challenge/member/challengeProveUpload" enctype="multipart/form-data">
      <input type="hidden" id="cno" name="cno">
      <label for="cptitle">제목</label>
      <input type="text" id="cptitle" name="cptitle" placeholder="제목을 입력해주세요.">
      
      <label for="cpimg">첨부파일</label>
      <input type="file" id="cpimg" name="cpimg" accept=".jpg,.jpeg,.png,.gif"><br><br>
  
      <label for="cpcontent">내용</label>
      <textarea id="cpcontent" name="cpcontent" placeholder="내용을 입력해주세요." style="height:200px"></textarea>
  
      <button type="submit" class="btn btn-primary" id="uploadChProve">등록</button>
    </form>
  </div>
</div>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>