<!DOCTYPE HTML>
<html lang="ko">
<head th:replace="fragments/common::html-head">
<title>page not found!</title>
</head>
<script th:inline="javascript">
	const msg = /*[[${errormsg}]]*/
	console.log(msg);
</script>
<body>
<header th:replace="fragments/common::header"></header>
<div class="container" style="max-width: 600px">
	<h1>에러페이지 입니다.</h1>
	<div th:text="${errormsg}"></div>
		<p th:text="|timestamp: ${timestamp}|"></p>
		<p th:text="|path: ${path}|"></p>
		<p th:text="|status: ${status}|"></p>
		<p th:text="|message: ${message}|"></p>
		<p th:text="|trace: ${trace}|"></p>
</div>
</body>
</html>