<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common::html-head">
</head>
  <style>
    * {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 20px;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  /* display: none; */ /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 10px;
  cursor: pointer;
  width: 120px;
  margin-top: 5px;
}

.btn.active {
  background-color: #666;
  color: white;
}
.enterchall {
  background-color: blue;
  color: aliceblue;
  float: right;
  margin-bottom: 50px;
}
  </style>
  <script th:inline="javascript">
  	var pagemaker = /*[[${pageMaker}]]*/
  	
  		/* 페이징 */
  	  	function pagination() {
  			const $pagination = $('#pagination');
  			const $ul = $('<ul class="pagination">').appendTo($pagination);
  			if (pagemaker.prev == true) {
  				const $li = $('<li>').appendTo($ul);
  				$('<a>').attr('href', '/challenge/corp/challengeList?nowPage=' + (pagemaker.start - 1) + '&amount=' + pagemaker.cri.amount).text("이전").appendTo($li);
  			}
  			for (let i = pagemaker.start; i <= pagemaker.end; i++) {
  				const $li = $('<li>').appendTo($ul);
  				$('<a>').attr('href', '/challenge/corp/challengeList?nowPage=' + i + '&amount=' + pagemaker.cri.amount).text(i).appendTo($li);
  				if (i == pagemaker.nowPage)
  					$li.attr('class', 'active');
  			}
  			if (pagemaker.next == true) {
  				const $li = $('<li>').appendTo($ul);
  				$('<a>').attr('href', '/challenge/corp/challengeList?nowPage=' + (pagemaker.end + 1) + '&amount=' + pagemaker.cri.amount).text("다음").appendTo($li);
  			}
  	  	}
  	
  	$(document).ready(function() {
		pagination();
  	});
  </script>
<body>
<header th:replace="fragments/common :: header">
</header>
<div id="wrapper">
  <h1>챌린지 목록</h1><br>

  <a href="/challenge/corp/challengeUpload" class="btn btn-primary">등록</a>
  <!-- MAIN (Center website) -->
<div class="main">

  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <!-- <div class="column nature">
      <div class="content">
      <span>번호</span>
        <a href="#"><img src="../../image/ocean.jpeg" alt="챌린지" style="width:100%"></a>
        <h4><a href="#">챌린지명</a></h4>
        <p>기한</p>
        <p>수정가능기한</p>
        <div>
          <div class="progress">
            <div class="progress-bar" style="width:70%">70%</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" formaction="">수정</button>
        <button type="submit" class="btn btn-primary" formaction="">삭제</button>
      </div>
    </div>
    <div class="column nature">
      <div class="content">
      <span>번호</span>
        <a href="#"><img src="../../image/ocean.jpeg" alt="챌린지" style="width:100%"></a>
        <h4><a href="#">챌린지명</a></h4>
        <p>기한</p>
        <p>수정가능기한</p>
        <div>
          <div class="progress">
            <div class="progress-bar" style="width:70%">70%</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" formaction="">수정</button>
        <button type="submit" class="btn btn-primary" formaction="">삭제</button>
      </div>
    </div>
    
    <div class="column nature">
      <div class="content">
      <span>번호</span>
        <a href="#"><img src="../../image/ocean.jpeg" alt="챌린지" style="width:100%"></a>
        <h4><a href="#">챌린지명</a></h4>
        <p>기한</p>
        <p>수정가능기한</p>
        <div>
          <div class="progress">
            <div class="progress-bar" style="width:70%">70%</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" formaction="">수정</button>
        <button type="submit" class="btn btn-primary" formaction="">삭제</button>
      </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary enterchall" formaction="">등록</button>
    </div> -->
  <!-- END GRID -->
  </div>
  <div id="pagination" style="display:flex; justify-content:center;">
  </div>
  <!-- END MAIN -->
  </div>
  </div>
  <footer th:replace="fragments/common :: footer">
</footer>
<script src="/js/index.js"></script>
  <script th:inline="javascript">
  
  	const $challenge = /*[[${challenge}]]*/;
  	
  	for(const challenges of $challenge) {
	   	  let cjoincnt = challenges.cjoincnt;
	   	  let cgoal = challenges.cgoal;
	   	  
	   	  let percentage = (parseInt(cjoincnt)/parseInt(cgoal))*100;
		  
	   	  
	   	  
	      let $topParentsDiv = $('<div class="column nature">').appendTo($('.row'));
	      let $secondParentsDiv = $('<div class="content">').appendTo($topParentsDiv);
	      		$('<span>').text(challenges.corpname).appendTo($secondParentsDiv);
	      		let $a = $('<a>').attr('href', "/challenge/member/challengeDetail?cno=" + challenges.cno).appendTo($secondParentsDiv);
	      			$('<img alt="챌린지" style="width:100%">').attr('src', challenges.cthumbnail).appendTo($a);
	      		let $h4 = $('<h4>').text(challenges.cname).appendTo($secondParentsDiv);
	      			$('<a>').attr('href', "/challenge/member/challengeDetail?cno=" + challenges.cno).appendTo($h4);
	      		$('<p>').text(challenges.cstartday + " ~ " + challenges.cendday).appendTo($secondParentsDiv);
	      		let $thirdParentsDiv = $('<div>').appendTo($secondParentsDiv);
	      			let $progressDiv = $('<div class="progress">').appendTo($thirdParentsDiv);
	      			$('<div class="progress-bar">').css('width', percentage+"%").text(percentage+"%").appendTo($progressDiv);
	      		/* let $update = $('<a id="update">').attr('href', '/challenge/corp/challengeUpdate?cno=' + challenges.cno).appendTo($secondParentsDiv); */
   				$('<a type="submit" class="btn btn-primary">').attr('href', '/challenge/corp/challengeUpdate?cno=' + challenges.cno).text('수정').appendTo($secondParentsDiv);
	      		$('<a type="submit" class="btn btn-primary">').css('margin-left', '5px').text('삭제').appendTo($secondParentsDiv);
	      
	}
  
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("column");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  
  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
  </script>
  
</body>
</html>