<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common :: html-head"></head>
  <style>
  * {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<script th:inline="javascript">
/* 썸네일 처리 함수 */
function previewImage() {
	const file = $("#cthumbnail")[0].files[0];
	const maxSize = 1024 * 1024;
	if (file.size > maxSize) {
		Swal.fire('이미지 크기 오류!', '상품 이미지는 1MB를 넘을 수 없습니다.', 'error');
		$('#cthumbnail').val('');
		$('#thumbnail_img').removeAttr('src');
		return false;
	}
	const reader = new FileReader();
	reader.readAsDataURL(file);
	reader.onload = function() {
		$("#thumbnail_img").attr("src", reader.result);
	}
	return true;
}

$(document).ready(function() {
	/* 썸네일 처리 */
	$('#cthumbnail').change(function() {
		previewImage();
	});
});
</script>
<body>
<header th:replace="fragments/common :: header"></header>
<div id="wrapper">
  <h1>챌린지 수정</h1>
  <div class="container">
    <form action="/challenge/corp/challengeUpdate" method="post" enctype="multipart/form-data">
    <input type="hidden" id="regday" name="cregday" th:value="${challenge.cregday}">
    <input type="hidden" id="cno" name="cno" th:value="${challenge.cno}">
    
      <label for="challtitle">챌린지명</label>
      <input type="text" id="challtitle" name="cname" th:value="${challenge.cname}">

      <label for="corpname">기업명</label>
      <input type="text" id="corpname" name="corpId" th:value="${challenge.corpId}">

      <label for="goal">달성목표</label>
      <input type="text" id="goal" name="cgoal" th:value="${challenge.cgoal}">

      <label for="goalpoint">보상포인트</label>
      <input type="text" id="goalpoint" name="cpoint" th:value="${challenge.cpoint}">

        <label for="challdue">챌린지 기간</label><br><br>
        시작일  <input type="date" name="cstartday" id="startDate" th:value="${challenge.cstartday}">  
        종료일  <input type="date" name="cendday" id="endDate" th:value="${challenge.cendday}">  
        <button type="button" id="isDate">확인</button><br>
      
	  <div class="mb-3">
      <label for="challthumbnail" style="margin-top: 20px;">썸네일용 이미지</label><br>
        <input type="file" class="form-control" id="cthumbnail" name="cthumbnail" accept=".jpg,.jpeg,.png,.gif">
        <div th:if="${not #strings.isEmpty(challenge.cthumbnail)}">
      		<img id="thumbnail_img" height="200px" th:src="${challenge.cthumbnail}">
      	</div>
      </div>
      
      <label for="challcontent">상세 설명</label>
      <textarea id="challcontent" name="ccontent" style="height:200px" th:text="${challenge.ccontent}"></textarea><br>
      
      <!-- 수정가능기간 표시하는 태그 -->
      <span style="color:red; font-size:10pxl">챌린지 수정은 작성일로부터 10일 이내에만 가능합니다.</span><br><br>
      
      <button type="submit" class="btn btn-primary">수정</button>
      <button type="submit" class="btn btn-primary" formaction="">취소</button>

    </form>
  </div>
</div>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>