<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/common.css">
  <link rel="icon" href="/image/favicon.png">
  <style>
  * {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
  <title>챌린지 등록</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script th:inline="javascript">
    $(function(){
     $("#mform").submit(function(){
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            //-을 구분자로 연,월,일로 잘라내어 배열로 반환
            var startArray = startDate.split('-');
            var endArray = endDate.split('-');   
            //배열에 담겨있는 연,월,일을 사용해서 Date 객체 생성
            var start_date = new Date(startArray[0], startArray[1], startArray[2]);
            var end_date = new Date(endArray[0], endArray[1], endArray[2]);
                 //날짜를 숫자형태의 날짜 정보로 변환하여 비교한다.
            if(start_date.getTime() > end_date.getTime()) {
                alert("종료날짜보다 시작날짜가 작아야합니다.");
                return false;
            }
         });
    });
    
    /* 챌린지 시작일 타입 변경 */
    function changeStartDate() {
    	var startDate = $('#startDate').val();
    	var startArray = startDate.split('-');
        var startday = new Date(startArray[0], startArray[1], startArray[2]);
        return startday;
    }
    
    /* 챌린지 마감일 타입 변경 */
    function changeEndDate() {
    	var endDate = $('#endDate').val();
        var endArray = endDate.split('-');
        var endday = new Date(endArray[0], endArray[1], endArray[2]);
        return endday;
    }
    
   </script>
</head>
<body>
  <h1>챌린지 등록</h1>
  <div class="container">
    <form action="/challenge/corp/challengeUpload" method="post">
    <input type="hidden" id="corpId" name="corpId" value="LG">
    
      <label for="challtitle">챌린지명</label>
      <input type="text" id="challtitle" name="cname" placeholder="">

      <label for="corpname">기업명</label>
      <input type="text" id="corpname" name="corpId" placeholder="">

      <label for="goal">달성목표</label>
      <input type="text" id="goal" name="cgoal" placeholder="">

      <label for="goalpoint">보상포인트</label>
      <input type="text" id="goalpoint" name="cpoint" placeholder="">

      <label for="challdue">챌린지 기간</label><br><br>
      <!-- 
      <form action="event.jsp" id="mform">
       -->
        시작일<input type="date" name="cstartday" id="startDate">
        종료일<input type="date" name="cendday" id="endDate">
        <!-- 
        <input type="submit" value="전송">
        </form>
         -->
        <!-- 수정가능기간 표시하는 태그 -->
      <span style="color:red; font-size:10pxl"></span><br>
  	  <!-- 
      <label for="challthumbnail" style="margin-top: 20px;">썸네일용 이미지</label>
      <button type="submit">첨부파일</button>
      <input type="text" id="challthumbnail" name="cthumbnail">
       -->
      <label for="challcontent">상세 설명</label>
      <textarea id="challcontent" name="ccontent" style="height:200px"></textarea>
      
      <button type="submit" class="btn btn-primary">등록</button>
      <button type="button" class="btn btn-primary" onclick="location.href='/challenge/corp/challengeList'">취소</button>

    </form>
  </div>
</body>
</html>